/*去掉浏览器和标签的默认的边距 我的班级*/
*,body,a,ul,ol{
	margin:0px auto;
	padding:0px;
	/*清除所有列表的样式*/
	list-style:none;
	
}

div{
	border:1 red solid;
}

.zong{
	width:1000px;
	height:800px;
	margin:0px auto;
	background-color:#ebebeb;
}
/*头部*/

.head{
	width:1000px;
	height:115px;
	
}
.topImg{
	width:1000px;
	height:81px;
	background:url(images/forumLogo_r.jpg) right no-repeat;
}
.shouye{
	width:1000px;
	height:33px;
	background-color:black;
}
.shouye li{
	float:left;
	width:105px;
	border-right:1px gray solid;
	text-align:center;
	line-height:30px;
	color:white;
}
.shouye .liStart{
	width:85px;
}

.shouye li a:link {
	color: white;
	text-decoration:none;
} /* 未访问的链接 */
.shouye li a:visited {
	color:  white;
	text-decoration:none;
} /* 已访问的链接 */
.shouye li a:hover {
	color: white;
	text-decoration:none;
} /* 鼠标移动到链接上 */
.shouye li a:active {
	color: white;
	text-decoration:none;
} /* 
/*头部结束*/


/*中体主体模块开始*/
.mainBody{
	width:1000px;
	height:450;
	margin-top:15px;
}


.left{
	width:620px;
	height:430px;
	float:left;
	margin:0px 20px;
}
.leftImg{
	width:520px;
	height:322px;
	background-color:black;
	padding:20px 45px;
}
.leftText1{
	width:610px;
	height:25px;
	padding:5px 5px;
}
.right{
	width:350px;
	height:430px;
	background-color:#cfd4da;
	margin:0px 0px 0px 650px;
}
.rightkuang{
	
	
}
.biaoqian{
	height:50px;
	width:100%;
	border:1px black solid;
	background-color:#2a4f77;
	color:white;
	font-family:"楷体";
	font-size:35px;
	line-height: 50px;
}
/*中体主体模块开始*/
