/* LoadaImg */
.ui_title_icon,.ui_btn_close,.ui_btn_max,.ui_btn_min,.ui_btn_restore,.ui_resize,.ui_box_btn,.ui_box_btn2,.ui_btn_small,.ui_btn_small2,.ui_box_callback_ok,.ui_box_callback_error,.ui_box_callback_tips,.validate_inputText,.ui_content .ui_tips_close,.ico_tips,.ico_yes,.ico_error,.ui_ico_b1 em,.ui_ico_b2 em,.ui_ico_b3 em,.ui_ico_s1 em,.ui_ico_s2 em,.ui_ico_s3 em{background:url(../Images/common.png) no-repeat;}
/*UI Dialog Style*/
.ui_dialog_wrap{ }
.ui_dialog{position:absolute;z-index:870617;}
.ui_table_wrap{position:relative;z-index:10715;}
.ui_title_text,.ui_btns{font-size:14px;font-family:Microsoft YaHei,simhei;color:#545454;}
.ui_td_00,.ui_td_02, .ui_td_20, .ui_td_22{width:5px;height:5px;}
.ui_border {background-color:#000;filter:alpha(opacity=40);opacity:0.4;}
.ui_btn_close,.ui_btn_max,.ui_btn_min,.ui_btn_restore {position:relative;float:right;margin-top:8px;margin-left:10px;padding:0;width:12px;height:12px;line-height:10px;color:#FFF!important;text-indent:-9em;overflow:hidden;text-align:center;text-decoration:none;cursor:pointer;z-index:9;}
.ui_btn_min{background-position:-138px -94px;}
.ui_btn_max{background-position:-138px -107px;}
.ui_btn_restore {background-position:-138px -120px;}
/*.ui_btn_close{background-position:-139px -154px;}
.ui_btn_close:hover{background-position:-139px -168px;}*/
.ui_btn_close{background:url(../Images/log_close.png) no-repeat;background-position:center -6px ;width:20px;height:20px; }
.ui_btn_close:hover{background-position:center -51px ;}
/*.ui_button_wrap{text-align:right;}*/
.ui_box_btn{ width:60px;height:26px;line-height:26px;vertical-align:middle;background-position:0px -30px;border:none;font-size:12px;cursor:pointer;}
.ui_box_btn_yes{background-position:0px -218px;color:#fff;margin-right:10px;}
.ui_box_btn_no{background-position:-90px -218px;color:#545454;}

.ui_btn_small{width:50px;height:25px;line-height:25px;vertical-align:middle;background-position:0px -56px;border:none;font-size:12px;color:#fff;}
.ui_btn_small_no{ background-position:-50px -56px;}
.ui_resize{display:none;background-position:-140px -82px;position:absolute;right:12px;bottom:12px;width:10px;height:10px;z-index:870614;cursor:se-resize;}

.ui_box_shadow{ -moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.7);-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.7);box-shadow:0 0 3px rgba(0, 0, 0, 0.7);}
.ui_box_loading{ position:relative;left:50%;margin:30px 50px;width:22px;height:22px;margin-left:-11px;}
.ui_box_error{ width:145px;line-height:50px;padding:20px 50px;color:#E84901;}
.ui_overlay{position:absolute;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;width:100%;left:0;top:0;visibility:hidden;z-index:2013515;}
.ui_move_temp{position:absolute;left:0;top:0;background:#000;filter:alpha(opacity=20);opacity:0.2;z-index:2013515;}
.ui_btn_wrap{position:absolute;right:0;top:5px;max-width:66px;_width:66px;height:32px;padding-right:18px;cursor:default;}
.ui_dialog_min .ui_btn_wrap{ width:15px;}
.ui_dialog_min .ui_btn_min,.ui_dialog_min .ui_btn_max,.ui_dialog_min .ui_btn_close,
.ui_dialog_restore .ui_btn_restore,.ui_dialog_max .ui_btn_max{display:none;}
.ui_dialog_min .ui_btn_restore{position:absolute;right:8px;}
/*自定义窗口*/
.td_overried .ui_btn_overried{position:relative;height:24px;cursor:default;}
.td_overried .ui_btn_overried a.ui_btn_close{background-position:-139px -154px;position:absolute;right:8px;top:0;}
.td_overried .ui_btn_overried a.ui_btn_close:hover{background-position:-139px -168px;}

.ui_title{position:relative;text-align:left;z-index:8;height:44px;line-height:44px;padding:0 70px 0 19px;font-weight:700;border-style:solid;border-width:1px;background-color:#f9f9f9; border:0;border-bottom:1px solid #e7e7e7;}
.ui_title_text{position:relative;width:100%;height:44px;white-space:nowrap;background:url(../Images/7c71aa2185a9436baa72c3619832b751.gif);color:#545454; font-size:20px; font-weight:normal}
.ui_dialog_min .ui_title{padding-right:25px;border-color:#007dd6;}
.ui_dialog_main{/*border:1px solid #efefef;*/background:#fff;}
.ui_content{position:relative;color:#666;background-color:#FFF;}
.ui_loading_tip{color:#808080;}
.ui_button_wrap{margin:10px auto 30px;width:130px;}
/*.ui_button_wrap{border-top:1px solid #EBEBEB;background-color:#F6F6F6;}*/
/*弹窗图标控制*/
.ui_ico_s1:after,.ui_ico_s2:after,.ui_ico_s3:after,.ui_ico_b1:after,.ui_ico_b2:after,.ui_ico_b3:after{clear:both;content:" ";display:block;height:0;}
.ui_ico_s1,.ui_ico_s2,.ui_ico_s3{padding:20px 40px 5px 40px;font-size:14px;color:#545454;text-align:left;}
.ui_ico_s1 em,.ui_ico_s2 em,.ui_ico_s3 em{width:28px;height:28px;display:block;float:left;margin-right:10px;margin-top:-1px;}/*小图标*/
.ui_ico_s1 span,.ui_ico_s2 span,.ui_ico_s3 span{line-height:24px;word-wrap:break-word;}
.ui_ico_b1,.ui_ico_b2,.ui_ico_b3{}
.ui_ico_b1 em,.ui_ico_b2 em,.ui_ico_b3 em{}/*大图标*/
.ui_ico_s1 em{background-position:-123px -524px;}/*正确*/
.ui_ico_s2 em{background-position:-123px -495px;}/*疑问*/
.ui_ico_s3 em{background-position:-123px -467px;}/*错误*/

.ui_dialog_theme_gray .ui_title{background-color:#d3d3d3;border-color:#E5E5E5 #E5E5E5 #666 #E5E5E5;}
.ui_dialog_theme_gray .ui_dialog_min .ui_title{padding-right:25px;border-color:#E5E5E5;}
.ui_dialog_theme_gray .ui_title_text{color:#545454;}
.ui_dialog_theme_gray .ui_dialog_main {border:1px solid #666;background:#fff;}
/*UI CallBack Style 对话框回调*/
.ui_box_callback{padding:20px 30px;height:50px;line-height:50px;}
.ui_box_callback_ok,.ui_box_callback_error,.ui_box_callback_tips{float:left;display:block;width:46px;height:50px;margin-right:10px;display:inline;background-position:0 -220px;}
.ui_box_callback_tips{ background-position:-50px -220px;}
.ui_box_callback_error{ background-position:-100px -220px;}

/*Validate Style 验证*/
.ico_tips,.ico_yes,.ico_error{ float:left;width:12px;height:14px;display:inline;margin:2px 5px 0 0;}
.ico_tips{background-position:-101px -67px;}
.ico_yes{ background-position:-114px -67px;}
.ico_error{background-position:-127px -67px;}

/*Tips Style 冒泡样式*/
.ui_tips_style_default .ui_arrow,.ui_tips_style_gray .ui_arrow,.ui_tips_style_green .ui_arrow,.ui_tips_style_red .ui_arrow{position:absolute;font:normal 0/9999px serif;overflow:hidden;width:0;height:0;z-index:1;}
.ui_tips_close{position:absolute;right:5px;top:5px;width:12px;height:12px;text-indent:-9em;overflow:hidden;cursor:pointer;}
.ui_tips_content_detail{ position:relative;zoom:1;display:inline-block;width:auto!important;width:200px;min-width:200px;}

/*Arrow-Top 向上*/
.arrow-top,.arrow-top-in{border-width:0px 9px 9px 9px;border-style:solid solid solid solid;top:-9px;left:50%;}
.arrow-top-in{top:-8px;}
/* default 默认*/
.ui_tips_style_default .arrow-top,.ui_tips_style_default .arrow-top-in{border-color:transparent transparent #FF9900;}
.ui_tips_style_default .arrow-top-in{border-bottom-color:#ffffee;}
/* Gray */
.ui_tips_style_gray .arrow-top,.ui_tips_style_gray .arrow-top-in{border-color:transparent transparent #d3d3d3;}
.ui_tips_style_gray .arrow-top-in{border-bottom-color:#F7F7F7;}
/* Gray */
.ui_tips_style_green .arrow-top,.ui_tips_style_green .arrow-top-in{border-color:transparent transparent #66CC01;}
.ui_tips_style_green .arrow-top-in{border-bottom-color:#EEFFEE;}
/* Red */
.ui_tips_style_red .arrow-top,.ui_tips_style_red .arrow-top-in{border-color:transparent transparent #FF0101;}
.ui_tips_style_red .arrow-top-in{border-bottom-color:#fff;}

/*Arrow-Right 向右*/
.arrow-right,.arrow-right-in {border-width:9px 0 9px 9px;border-style:solid solid solid solid;top:50%;right:-9px;}
.arrow-right-in{right:-8px;}
/* default */
.ui_tips_style_default .arrow-right,.ui_tips_style_default .arrow-right-in{border-color:transparent transparent transparent #FF9900;}
.ui_tips_style_default .arrow-right-in{border-left-color:#ffffee;}
/* Gray */
.ui_tips_style_gray .arrow-right,.ui_tips_style_gray .arrow-right-in{border-color:transparent transparent transparent #d3d3d3;}
.ui_tips_style_gray .arrow-right-in{border-left-color:#F7F7F7;}
/* Gray */
.ui_tips_style_green .arrow-right,.ui_tips_style_green .arrow-right-in{border-color:transparent transparent transparent #66CC01;}
.ui_tips_style_green .arrow-right-in{border-left-color:#EEFFEE;}
/* Red */
.ui_tips_style_red .arrow-right,.ui_tips_style_red .arrow-right-in{border-color:transparent transparent transparent #FF0101;}
.ui_tips_style_red .arrow-right-in{border-left-color:#fff;}

/*Arrow-Bottom 向下*/
.arrow-bottom,.arrow-bottom-in{border-width:9px 9px 0 9px;border-style:solid solid solid solid;bottom:-9px;left:50%;}
.arrow-bottom-in{bottom:-8px;}
/* default */
.ui_tips_style_default .arrow-bottom,.ui_tips_style_default .arrow-bottom-in{border-color:#FF9900 transparent transparent;}
.ui_tips_style_default .arrow-bottom-in{border-top-color:#ffffee;}
/* Gray */
.ui_tips_style_gray .arrow-bottom,.ui_tips_style_gray .arrow-bottom-in{border-color:#AEAEAE transparent transparent;}
.ui_tips_style_gray .arrow-bottom-in{border-top-color:#F7F7F7;}
/* Green */
.ui_tips_style_green .arrow-bottom,.ui_tips_style_green .arrow-bottom-in{border-color:#66CC01 transparent transparent;}
.ui_tips_style_green .arrow-bottom-in{border-top-color:#EEFFEE;}
/* Red */
.ui_tips_style_red .arrow-bottom,.ui_tips_style_red .arrow-bottom-in{border-color:#FF0101 transparent transparent;}
.ui_tips_style_red .arrow-bottom-in{border-top-color:#fff;}

/*Arrow-Left 向左*/
.arrow-left,.arrow-left-in{border-width:9px 9px 9px 0;border-style:solid solid solid solid;top:50%;left:-9px;}
.arrow-left-in{left:-8px;}
/* default */
.ui_tips_style_default .arrow-left,.ui_tips_style_default .arrow-left-in{border-color:transparent #FF9900 transparent transparent;}
.ui_tips_style_default .arrow-left-in{border-right-color:#ffffee;}
/* Gray */
.ui_tips_style_gray .arrow-left,.ui_tips_style_gray .arrow-left-in{border-color:transparent #AEAEAE transparent transparent;}
.ui_tips_style_gray .arrow-left-in{border-right-color:#F7F7F7;}
/* Green */
.ui_tips_style_green .arrow-left,.ui_tips_style_green .arrow-left-in{border-color:transparent #66CC01 transparent transparent;}
.ui_tips_style_green .arrow-left-in{border-right-color:#EEFFEE;}
/* Red */
.ui_tips_style_red .arrow-left,.ui_tips_style_red .arrow-left-in{border-color:transparent #FF0101 transparent transparent;}
.ui_tips_style_red .arrow-left-in{border-right-color:#fff;}
.ui_tips_style_default{border:1px solid #FF9900;background:#ffffee;padding:5px 8px;}
.ui_tips_style_default .ui_tips_close{background-position:-141px -55px;}

.ui_tips_style_gray{border:1px solid #D3D3D3;background:#F7F7F7;padding:5px 8px;}
.ui_tips_style_gray .ui_tips_close{background-position:-101px -55px;}

.ui_tips_style_green{border:1px solid #66CC01;background:#EEFFEE;padding:5px 8px;}
.ui_tips_style_green .ui_tips_close{background-position:-101px -55px;}

.ui_tips_style_red{border:1px solid #FF0101;background:#fff;padding:5px 8px;}
.ui_tips_style_red .ui_tips_close{background-position:-123px -55px;}