body{background:#fff;}
/*底部加载手机APP下载*/
.bottom_soft{height:170px;position:fixed;_position:absolute !important;left:0;bottom:0;_top:expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);width:100%;z-index:999999;}
.bottom_soft_bg{height:170px;background:#000;opacity:.9;filter:alpha(opacity=90);}
.bottom_soft_Pos{position:absolute;height:170px;z-index:1;width:100%;top:0;left:0;}
.bottom_soft_MiddleBox{height:170px;position:relative;width:1180px;margin:0 auto;font-family:Microsoft Yahei;color:#fff;}
.bottom_soft_tx{float:left;padding-left:205px;width:495px;height:112px;margin-top:24px;}
.bottom_soft_tx .bottom_soft_hd{display:block;font-size:32px;line-height:38px;height:50px;}
.bottom_soft_img{display:block;position:absolute;left:0px;bottom:0;width:608px;height:195px;background:url(../Images/app.png) no-repeat;_background:url(../Images/app_6.png) no-repeat;}
.bottom_soft_tx .bottom_soft_cn{ line-height:28px;font-size:22px;height:54px;overflow:hidden;}
.bottom_soft_tx .bottom_soft_cn span{color:#69bfba;}
.bottom_soft_tx a{color:#fff;cursor:pointer;display:block; display:none;}
.bottom_soft_tx a:hover{color:#fff;}
.bottom_soft_close{transition:all 300ms;width:34px;height:34px;display:block;position:absolute;top:10px;right:-45px;background:url(../Images/bottom_soft_close.png) no-repeat;opacity:0.7;filter:alpha(opacity=70);}
.bottom_soft_close:hover{opacity:1;filter:alpha(opacity=100);opacity:1;transform:rotate(180deg);transition:all 300ms;-moz-transform:rotate(180deg);-moz-transition:all 300ms;-o-transform:rotate(180deg);-o-transition:all 300ms;-webkit-transform:rotate(180deg);-webkit-transition:all 300ms;-ms-transform:rotate(180deg);-ms-transition:all 300ms;}
.bottom_soft_link{float:left;display:inline-block;padding:66px 0 0 15px;}
.bottom_soft_link p{font-size:14px;line-height:15px;}
.bottom_soft_link a{font-size:15px;height:36px;width:108px;display:block;color:#fff;line-height:36px;border-radius:3px; text-align:center; margin-bottom:17px;}
.bottom_soft_link a:hover{color:#fff;}
.bottom_soft_link a.bottom_soft_link_ios{background: #ef3e3e;}
.bottom_soft_link a.bottom_soft_link_and{background:#ef3e3e;}
.bottom_soft_link a.bottom_soft_link_ios:hover{background:#dd3535;}
.bottom_soft_link a.bottom_soft_link_and:hover{background:#dd3535;}
.bottom_app{float:left; display:inline-block;padding-top:36px;}
.bottom_app a{background:url("../Images/clients_code120.gif") no-repeat left;width:120px;height:120px;display:block;position:relative;text-align:center;color:#fff;}
.bottom_app a span{display:block;position:absolute;left:0;top:-36px;width:120px;height:36px;line-height:36px;color:#bac4d1; font-size:14px}
.bottom_weixin{float:left; display:inline-block;padding-top:36px; padding-left:50px}
.bottom_weixin a{background:url("../Images/weixin_code120.gif") no-repeat left;width:120px;height:120px;display:block;position:relative;text-align:center;color:#fff;}
.bottom_weixin a span{display:block;position:absolute;left:0;top:-36px;width:120px;height:36px;line-height:36px; color:#bac4d1;font-size:14px}
.bottom_soft_icon{height:60px;width:148px; bottom:110px;background:url("../Images/bottom_soft_none.png") no-repeat left; cursor:pointer;position:absolute; margin-left:-148px;position:fixed;_position:absolute !important;left:0;_top:expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);z-index:999999; display:inline;}

/*汽车票预订*/
.yuding{}
.yuding .mod-hd{margin:0px;height: 40px;border-bottom:2px solid #ccc;font-family: "Microsoft YaHei","黑体","simsun";}
.yuding .coach-header{ color:#555;float: left;font-size:28px;font-weight: normal;line-height: 28px;width:295px;}
.yuding .coach-header em{padding-right:10px;}
.yuding .tabctn{float:right;overflow:hidden; display:inline-block; max-width:810px;height: 42px;}
.yuding .tabctn li{float:left;height: 40px;padding: 0 15px; min-width:50px; text-align:center;color: #555;font-size: 18px;line-height: 30px;position: relative;cursor: pointer;}
.yuding .tabctn li:hover,.yuding .tabctn li.selected{border-bottom: 2px solid #ef3e3e; color:#ef3e3e}
.yuding .tabctn li span{ padding:0;}

.ticket-list{ width:1201px;}
.list-item{}
	.list-item {float:left;color: #666; padding:20px 20px 0 0}
	.list-item a:hover{position:relative;color: #666;}
	.list-item a{background: url("../Images/carl_bg.png") no-repeat;background-position:-3px -3px; width:220px; height:134px; display:inline-block;}
	.list-item a:hover{background-position:-227px -3px; }
	.list-item a:hover .ncoach_name_arrow{margin-left: 5px;margin-right: -5px;}
	.list-item .ncoach_name{height: 40px;overflow: hidden; padding-top:5px;}
	.list-item .ncoach_date{cursor:pointer;font:14px arial;text-align:center;padding-top:2px;}
	.list-item .ncoach_type{text-align: center;line-height: 48px; padding-top:20px;}
	.list-item .ncoach_name span{width: 80px;font: 16px/40px Microsoft Yahei;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
	.list-item .ncoach_name_start {text-align: right; padding-right:10px;}
	.list-item .ncoach_name_end {text-align: left; padding-left:10px;}
	.list-item .ncoach_name span,.list-item  .ncoach_name i,.list-item  .ncoach_type span,.list-item  .ncoach_type i {display: inline-block;}
	.list-item .ncoach_name_arrow{width:40px;height:5px;background: url("../Images/img.png") no-repeat;background-position:-28px -79px;vertical-align:17px;*vertical-align:middle;overflow:hidden;margin-left: -1px;margin-right: 1px;transition: margin .3s;-webkit-transition: margin .3s; -moz-transition: margin .3s;-ms-transition: margin .3s; }
	.list-item .ncoach_type_bus{width:22px;height:20px;background: url("../Images/img.png") no-repeat;background-position:-36px -106px;vertical-align:-5px;*vertical-align:middle}
	.list-item .ncoach_type_t1{font:14px Simsun}
	.list-item .ncoach_type_t2{color:#ef3e3e;font:16px Microsoft Yahei;vertical-align:3px; position:relative; top:5px; left:-1px;}
	.list-item .ncoach_type_t3{color:#ef3e3e;font:28px arial;vertical-align:-2px;}

/*maintabIndex搜索框*/
.maintabbox{background:#fff;height:320px;position:relative;width:380px;float:left; z-index:2;margin-top:30px;}
.maintabbox .tabboxhead{background:#f3f3f3;height:46px;position:relative;}
.maintabbox .tabboxhead ul li{float:left;height:46px;position:relative; padding-left:5px;}
.maintabbox .tabboxhead ul li a{float:left;height:46px;display:block;padding-left:20px;}
.maintabbox .tabboxhead ul li a span{float:left;height:46px;padding-right:24px;padding-left:32px;font-size:20px; font-family:tahoma,arial,"Microsoft Yahei","\5b8b\4f53",sans-serif;color:#ef3e3e;line-height:46px; vertical-align:middle;}
.maintabbox .tabboxhead ul li a s{height:36px;width:32px;left:16px;overflow:hidden;position:absolute;top:6px;background-image:url("../Images/maintab1.png");background-repeat:no-repeat;}
.maintabbox .tabboxhead .tab1 a s{background-position:0px -1px;}
.maintabbox .tabboxhead .tab2 a s{background-position:-37px -4px;}
.maintabbox .tabboxhead .tab3 a s{background-position:-66px -4px;}
.maintabbox .tabboxcon{display:block;}
.maintabbox span.search_btn{background: #ef3e3e none repeat scroll 0 0;border-radius:3px;color: #fff;cursor: pointer;float:left;font-size:16px;height:36px;line-height: 36px;text-align:center;width:180px;font-family: Microsoft Yahei;}
.maintabbox span.search_btn i{background:url("../Images/icon12308.png") no-repeat; background-position: -432px -3px;display: inline-block;height: 18px;width: 18px;margin-right:6px;vertical-align: middle;}
.maintabbox span.search_btn:hover{background: #dd3535 none repeat scroll 0 0;}
/*预订搜索框*/
.s-inputbox{float:left;}
.s-inputbox .city_ico{background:#fff url("../Images/img.png") -314px -127px no-repeat;margin:7px 15px 0px -30px;width:22px;float:left;height:21px;display:inline;}
.s-inputbox .s-input{border-radius:3px;float:left; font-size:14px;border:#c7d1e4 1px solid;height:20px;line-height:20px;vertical-align:middle;overflow-x:hidden;overflow-y:hidden;padding:7px 32px 7px 8px;width:188px;color:#999;/*box-shadow: .5px 1px 3px #d2d7e1 inset;*/}
.s-inputbox .s-input:hover,.indextab .s-inputtime .kalven-dp:hover{border:#888 1px solid;}
.s-inputbox .s-ihover,.indextab .s-inputtime .s-ihover{border:#c7d1e4 1px solid;}

.indextab{position:relative;padding:0px; background:#fff;border-top: 1px solid #e1e1e1;}
.indextab ul{ padding-top:29px}
.indextab ul li{clear:both;padding:6px 0px; float:none;}
.indextab ul li label{font-size:14px; line-height:32px;float:left;padding:0px 10px 0px 0px;width:90px;text-align:right;color:#355976;font-family:"Microsoft Yahei";font-size:14px;} 
.indextab .s-inputtime{background:#fff;height:36px;padding:0px;position:relative;float:left; }
.indextab .s-inputtime .kalven-dp{border-radius:3px;width:228px;height:34px;box-shadow: none;border:#c7d1e4 1px solid;z-index:2;}
.indextab .s-inputtime .kalven-dp .textbox{height:24px;line-height:24px;color:#666;font-size:14px;font-family:Arial;width:190px;padding:4px 0 4px 8px;}
.indextab .s-inputtime .kalven-dp .dp-info{top:7px; right: 7px;}
.s-inputtime .t-datepicker{top:33px;width:486px;z-index:9999;}
.s-inputtime .t-datepicker .g{width:486px;box-shadow:0 2px 3px #ccc;}
.s-inputtime .t-datepicker .c{width:222px;}
.indextab .pl_btn{padding-left:100px; padding-top:19px;padding-bottom:30px;}
/*公用box*/
.partbox{}
.partbox.bb{border:1px solid #ddd;}
.partbox .mod-hd{margin:0px;height: 40px;border-bottom:2px solid #ccc;font-family: "Microsoft YaHei","黑体","simsun";}
.partbox .mod-hd h2{color:#555;float: left;font-size:28px;font-weight: normal;line-height: 28px;width:295px;}

.partbox .mod-hd h2 em{padding-right:10px;}
.partbox .mod-hd .mod-more{font-family:"simsun";padding:0 15px 0 0;margin-top:15px;position: relative;float:right;}
.partbox .mod-hd .mod-more a{ color:#666;}
.partbox .mod-hd .mod-more s{background-image:url("../Images/img.png");background-position:-324px  -415px;height:9px;overflow:hidden;position:absolute;right:0;top:5px;width:11px;}
/*汽车站*/

.station-con .station-rec{background:#f6f6f6;float:left;height:297px;overflow:hidden;padding:20px 15px;width:430px;}
.station-con .station-rec ul{float:left;position:relative;width:220px;height:245px; line-height:0;}
.station-con .station-rec li span{width:220px;color:#555;text-align:center;background:#ccc;height:37px;line-height:37px; display:block}
.station-con .station-rec li span label{position:relative;}
.station-con .station-rec li .img{width:220px;height:206px;overflow:hidden;}
.station-con .station-rec li img{width:220px;height:206px;}

.station-con .station-rec .info{float:right;color:#555;padding:0px 1px 0 0; width:192px; position:relative; line-height:22px;}
.station-con .station-rec .info_left{ position:absolute; top:0; left:0;width:30px;height:30px;background: url("../Images/main.png") no-repeat -305px -270px ;display:none; }
.station-con .station-rec .info_right{ position:absolute; bottom:-35px; right:-0px;width:30px;height:30px;background: url("../Images/main.png") no-repeat -374px -270px ; display:inline-table;}

.station-con .station-city{float:left; width:720px; height:340px;}
.station-con .station-city li{float:left; padding:0 0 18px 20px; display:inline-block}
.station-con .station-city li .st_li{position:relative;width:220px;height:160px;line-height:0; overflow:hidden;}
.station-con .station-city li span{background:url("../Images/mask.png"); position:absolute; bottom:0; left:0;width:220px;color:#fff; font: 16px/37px Microsoft Yahei;text-align:center;height:37px;display:block; overflow:hidden;}
.station-con .station-city li span label{position:relative;}
.station-con .station-city li img{width:220px;height:160px;}
.station-con li img{transition:All 0.3s linear;-webkit-transition:All 0.3s linear;-moz-transition:All 0.3s linear;-ms-transition:All 0.3s linear;-o-transition:All 0.3s linear;}
.station-con li:hover img{transform:scale(1.05);-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-o-transform:scale(1.05);-ms-transform:scale(1.05);}

.tabbox_bg{background: #fff; height:80px;}
/* banner-box focus*/
.wrapper{position: relative; background:#f0f7f6;z-index: 1;min-width: 1180px;margin: auto;overflow: hidden;}
.wrapper .loadinga{ margin-left:175px;}
/*.mod-banner{height:360px;position: relative;}
.mod-banner .banners{width: 100%;height:360px;overflow: hidden;position: absolute;left:0%;right:0; text-align:center;}
.mod-banner .banner{width: 100%;height:360px;overflow: hidden;position: absolute;left:0%; right:0; text-align:center;}
.mod-banner .banner img{ width:1180px;height:360px;}
.mod-banner .banner1{ background:#f0f7f6}
.mod-banner .banner2{ background:#67f3dc}
.mod-banner .banner3{ background:#fbc85b}
.mod-banner .banner4{ background:#ea284d}
.mod-banner .focus{width:1180px;margin:0px auto;padding-top:336px;text-align: right;}
.mod-banner .focus a{text-decoration: none;z-index:3;width:16px; margin:0 2px;height:16px;position:relative;display: inline-block;*display:inline;overflow: hidden;zoom:1;}
.mod-banner .focus a .inner{background-image:url(../Images/i_dot.png); background-repeat:no-repeat; background-position:-2px -2px;position:absolute;display: block;left:0px;top:0px;cursor:pointer; width: 16px; height: 16px;}
.mod-banner .focus a.on .inner,.mod-banner .focus a:hover .inner{background-image:url(../Images/i_dot.png);background-repeat:no-repeat; background-position:-20px -2px;cursor:pointer;display:block;border:0;-webkit-transition:opacity .3s ease-in-out;-ms-transition:opacity .3s ease-in-out;transition:opacity .3s ease-in-out;opacity:1;}*/
/*幻灯显示*/
/*banner*/
.banner_n{height:380px;position:relative;width:100%;min-width:1180px;}
.banner_wrap{position:absolute;top:0;left:0;height:380px;width:100%;}
.pic_show{position:relative;}
.pic_show li,.pic_show{height:380px;}
.pic_show li{position:absolute;width:100%;}
.pic_show li a{display:block;height:380px;text-align:right;}
.pic_show li a img{float:right;}
.banner_n .dots{position: absolute;top:360px; right:50%;height:30px;width:250px; height:30px; margin-right:-603px; text-align:right;}
/*.banner_n .dots .dot{width:24px;height:4px;padding:5px 3px;overflow:hidden;zoom:1; background-position:-508px -368px; line-height: 9999px; display: inline-block;cursor: pointer;}
.banner_n .dots .active{cursor:pointer;background-position:-508px -387px; cursor:default;}*/
.banner_n .dots .dot{width:22px;height:1px;padding:2px 3px;margin-right:10px;overflow:hidden;zoom:1;background:#000;display:inline;cursor:pointer;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7; float:left; text-indent:999em;}
.banner_n .dots .active{cursor:pointer;cursor:default;background:#ef3e3e;}
@media(max-width:1200px){
    .banner_n{min-width:1180px;}
    .dots{margin-right:-503px;}
  }
/*搜索*/
.all_search{width:1180px;margin:0 auto;}
.indextab_bo{height:80px;width:340px;background:url(../Images/daoxie.png) no-repeat center ;float:left;}
/*购票流程*/
.bprocess{height:78px; width:1178px;color:#555; overflow:hidden;background:#fff;border:1px solid #e6e6e6;font-family: "Microsoft YaHei","黑体","simsun";}
.bprocess .bp_tit{font:18px/80px Microsoft YaHei; width:145px; text-align: right; float:left;}
.bprocess ul{height:78px;line-height:78px;width:1000px; float:right;}
.bprocess li{height:78px;width:26.2%; float:left;position:relative; z-index:1;background:url("../Images/main.png") no-repeat;background-position:-168px -126px;}
.bprocess li span{ position:absolute; top:18px; left:8px;background:url("../Images/main.png") no-repeat; width:34px;height:34px; display: inline-block; }
.bprocess li span.bp-n1{ background-position:-147px -73px;}
.bprocess li span.bp-n2{ background-position:-200px -73px;}
.bprocess li span.bp-n3{ background-position:-253px -73px;}
.bprocess li span.bp-n4{ background-position:-308px -73px;}
.bprocess li p{font-size:14px; color:#999; padding:14px 0 0 65px; line-height:22px;}
.bprocess li p b{ font-size:18px; color:#ef3e3e; display:block; font-weight:normal; line-height:26px;}
.bprocess li.last{width:18%; }

/*帮助分类*/
.assist-mod .my-beginner, .assist-mod .my-insurance, .assist-mod .my-ticket, .assist-mod .newest-ico, .mod-more s, .starshop .arrow, .starair .arrow, .mod-search-tip, .ne-flash .input-search, .ne-flash .link-btn, .assist-mod .app, .assist-mod .checkin, .assist-mod .traffic, .assist-mod .apay{background-image:url("../Images/main.png");background-position: -9999px -9999px;background-repeat: no-repeat;}
.assist-mod,.webinfo-mod{float:left;height:120px;}
.assist-mod{width:380px;height:212px;}
.assist-mod .assist-lists{}
.assist-mod .assist-list{ position:relative;float:left;height:70px;width:189px; border-right:1px solid #ddd;border-bottom:1px solid #ddd; overflow:hidden;}
.assist-mod .assist-list a{ color:#444;width:100px;height:70px;padding-left:88px; display:inline-block;}
.assist-mod .newest-ico{width:17px;height:18px;position:absolute;text-indent:-10000px;background-position:-250px 0;top:20px;z-index:1;right:20px;}

.assist-mod .assist-list{ position:relative;}
.assist-mod span{ width:40px; height:40px; display:inline-block; float: left;position:absolute; top:15px; left:45px;}
.assist-mod p{height:70px; font-size:14px; line-height:70px; color:#555;display:inline-block;float: left;}
.assist-mod .my-beginner{background-position:0 -50px;}/*新手指南*/
.assist-mod .my-insurance{background-position:-70px -50px;}/*车票保险*/
.assist-mod .app{background-position:0 -120px;}/*订单问题*/
.assist-mod .apay{background-position:-70px -120px;}/*支付问题*/
.assist-mod .traffic{background-position:0 -190px;}/*退换车票*/
.assist-mod .checkin{background-position:-70px -190px;}/*车站取票*/
.assist-mod .last-assist{ border-bottom:0;}
.assist-mod a:hover span,.bprocess a:hover span{-webkit-animation:shake_s 5s infinite linear normal;
-moz-animation:shake_s 5s infinite linear normal;-ms-animation:shake_s 5s infinite linear normal;animation:shake_s 2s infinite linear normal;}

/*最新资讯-网站公告*/
.webinfo-mod{ padding:23px 0px 0 0px; display:inline-block;color:#555;}
.webinfo-mod .info1,.webinfo-mod .info2{float:left;width:280px;}
.webinfo-mod .info1{height:150px;width:410px; padding:0 40px 0 30px;}
.webinfo-mod .info2{height:0px;}
.webinfo-mod h1{line-height:30px;height:30px; padding-top:2px;}
.webinfo-mod h1 span{display:block;font:18px/30px Microsoft YaHei;float:left;}
.webinfo-mod h1 a{float:right;font-family:Arial;font-size:12px;color:#555;padding-right:15px; position:relative;}
.webinfo-mod h1 s{background-image:url("../Images/img.png");background-position:-324px  -415px;height:9px;overflow:hidden;position:absolute;right:0;top:10px;width:11px;}

.webinfo-mod .info1 dl{clear:both;padding-top:18px;}
.webinfo-mod .info1 dl img{width:130px; height:104px;}
.webinfo-mod .info1 dl .img:hover img{opacity:.8;transition:opacity .3s;-webkit-transition:opacity .3s}

.webinfo-mod .info1 dl dt{float:left;width:125px;padding-right:12px;}
.webinfo-mod .info1 dl dd{float:left;width:270px;margin-top:-3px;}
.webinfo-mod .info1 dl dd a{color:#555;clear:both;font-size:14px;line-height:28px;height:28px;display:block;overflow:hidden;}
.webinfo-mod .info1 dl dd a:hover{color:#f60;}
.webinfo-mod .info2 ul{clear:both;padding-top:15px;}
.webinfo-mod .info2 ul li{font-size:14px;line-height:28px;height:28px; overflow:hidden;}


