body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{margin: 0;padding: 0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,"Microsoft Yahei","\5b8b\4f53",sans-serif;}
a{color:#555;text-decoration:none;outline:none;}a:hover{color:#f60;}
.c333{color:#333;}
.c666{color:#666;}
.c999{color:#999;}
.pr_15{ padding-right:15px;}.pl_15{ padding-left:15px;}
.clear{height:0;overflow:hidden;clear:both;}.f14{ font-size:14px;}
.left{float:left;}.right{float:right;}.padtop15{padding-top:15px;}.padbot15{padding-bottom:15px;}
ol, ul, li {list-style: none;}
TextInput:focus{border:1px solid #96D1FF;box-shadow:0 0 2px rgba(109,209,255,.5);transition:border 0.1s linear 0s,box-shadow 0.1s linear 0s;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* html .clearfix{zoom:1;}/* IE6 */
*:first-child+html .clearfix{zoom:1;}/* IE7*/
/*白色*/.color1{color:#fff;}.color1 a{color:#fff;}a.color1{color:#fff;}.color1 a:hover{color:#fff;}
/*黑色*/.color2{color:#666;}.color2 a{color:#666;}a.color2{color:#666;}.color2 a:hover{color:#f60;}
/*蓝色*/.color3{color:#317ee7;}.color3 a{color:#317ee7;}a.color3{color:#317ee7;}.color3 a:hover{color:#f60;}
/*公用加载进度条*/
.beinloading{text-align:center;background:url(../Images/loading.gif) no-repeat center 40px;height:50px;padding-top:12px;color:#666;}
.header {height: 82px;width: 100%;overflow: hidden;background: #fff url(../Images/logintbg.gif) no-repeat  bottom center;}
.nobg{ background:none; background-image:none;}
.header-container {height: 100px;width: 990px;max-width: 990px;margin: 0 auto;position: relative;}
.logo {float: left;display: block;height: 60px;width: 500px;margin-top: 10px;background: url("../Images/logo.jpg") no-repeat 0 13px;}
.logo a {float: left;display: inline-block;height:50px;width: 230px;overflow: hidden;text-indent: -999em;}
.logo .header-title {float: left;height: 23px;margin-top: 30px;line-height: 23px;font-size: 20px;color: #999;}
.navigation {float: right;height: 23px;margin-top:42px;line-height: 23px;}
.navigation a{ padding:0 5px;}
.content, #footer {margin-left: auto;margin-right: auto;}
.content-container {padding-top: 50px;}
.content-container.con_p_0{padding-top: 0px;}
.footer {clear: both;color: #666;text-align: center;padding: 20px 0 20px 0;}
.footer-container {width: 990px;margin: 0 auto;overflow: hidden;padding-top:10px;border-top: 1px solid #D8D8D8;}
.footer-container .copyrights{line-height:30px;}
.footer-container .copyrights a{ padding:0 10px;}