/*login*/
.content-container{width: 990px;margin: 0 auto;}
.login-body{float: left;border-bottom:none;width:377px;height:440px;padding-left:50px;padding-top:50px;}
.login-banner {float: left;width: 560px;min-height: 370px;}
.login-module {border: 1px solid #dcdcdc; background:#fafafa; border-bottom:none;width:375px;height:310px;}
.loginheader {height:30px; width:100%;position: relative; margin:30px 0 10px 0; display:inline-block; text-indent:-999em; background:url(../Images/login.png)  no-repeat 0 0;}
.loginbox{ width:270px; margin:0 auto;}
.logincontent{height: auto;padding-bottom: 5px;OVERFLOW: hidden;width:100%;padding-top:0px; position: relative;}
.logincontent .tip_login{ position: absolute; left: 45px; top: 2px; text-align: left; color:red; width:100%;} 
.logincontent ul{ padding-top:10px;}
.logincontent li{padding: 10px 0;width:270px; display:inline-block;}
.logincontent .l_input{display: inline-block; font-size:14px;padding:5px;padding-left:30px;width: 233px;height: 22px;line-height: 22px; vertical-align:middle;border-radius:1px;border: 1px solid #ccc;box-shadow: 1px 1px 2px #eee inset;outline: none;}
.logincontent .l_input:focus{border:1px solid #317ee7;box-shadow:1px 2px 3px #ddeffc inset;}

.logincontent .txt:focus{background: url(../Images/login.png) no-repeat -356px -326px; }
.logincontent .paswd:focus{background: url(../Images/login.png) no-repeat -356px -406px; }
.logincontent .txt{background: url(../Images/login.png) no-repeat -356px -286px; }
.logincontent .paswd{background: url(../Images/login.png) no-repeat -356px -366px; }
.logincontent li.nopt{padding-top:10px; padding-bottom:0px; line-height:15px;}
.logincontent li.nopt span{ display:inline-block; float:left;}
.logincontent li.nopt .right{ display:inline-block; float:right;}
.logincontent .errors{color:#F00;}

.lo_p{color: #666;font-size: 12px;line-height: 14px;height: 14px; vertical-align:middle;}
.lo_p .lo_check {float:left;height: 14px; margin-top:2px; margin-right:3px;}
.lo_p span{ float: left; margin-right:10px;}
.logincontent .btn-bg { cursor:pointer;text-indent:-999em;background: url(../Images/login.png) no-repeat 0px -37px; border:none; width:270px; height:36px; display: block;}
.logincontent .btn-bg:hover{ background-position: 0px -77px;}
.login-bottom{width:377px;height:71px;background: url(../Images/login.png) no-repeat 0px -130px;}
.login-bottom .loginbo_box{width:270px; margin:0 auto; padding-top:20px;}
.cop_link{padding-top:2px; position:relative;left:-6px; display:inline-block; float:left;}
.nreg_qq { display:inline-block;height:20px;width:30px;background: url(../Images/ohter-bg.png) no-repeat -2px -91px;}
.nreg_sina { display:inline-block;height:20px;width:30px;background: url(../Images/ohter-bg.png) no-repeat 0 -159px;}
.nreg_alipay { display:inline-block; height:20px;width:30px;background: url(../Images/ohter-bg.png) no-repeat 0 -65px;}


/*register*/
.steps{width:990px;height:37px;background:url(../Images/steps2.png) no-repeat 0 0;margin-left: auto;margin-right: auto;}
.step-1{background-position:0 0}
.step-2{background-position:0 -42px}
.step-3{background-position:0 -83px}
.steps li{ text-indent:110px;display:inline-block;float:left;width:33%;height:37px;line-height:37px;font-size:15px;color:#666;}
.step-1 .step1,.step-2 .step1,.step-2 .step2,.step-3 .step1,.step-3 .step2,.step-3 .step3{color:#fff;}
.steps li.step3{ text-indent:120px;}

.content .reg-form {float: left;width:500px;min-height: 370px; padding-top:20px;padding-left:50px; padding-bottom:60px; font-size:14px;}
.content .reg-form .fm-li .i-input{font-size:14px;height:20px; line-height:20px; padding-top:5px;padding-bottom:5px; vertical-align:middle;border-radius:1px;box-shadow: 1px 1px 2px #eee inset;outline: none;}
.content .reg-form .fm-li .i-input:focus{border:1px solid #317ee7;box-shadow:1px 2px 3px #ddeffc inset;}
.content .reg-form .hqyzm_btn{margin-top: 0px;}


.content .agreement-content {margin: 8px 0px 8px 10px;line-height: 20px;height: 150px;overflow-x: hidden;overflow-y: auto;FONT-SIZE: 12px;OVERFLOW-Y: scroll;COLOR: #666;width: 420px;color: #666666;}
.content .agreement {width: 400px;}
.content .regist-right{padding-top:20px;float: right;width:390px;height: 300px;  color:#666; line-height:24px;}
.content .regist-right h2{ padding-bottom:20px; font-size:16px;}
.content .regist-right p{ padding-bottom:10px;color:#7c7a7a;}
.content .regist-right p b{color:#7c7a7a;}

