/*LEFT导航*/
.breadbar{line-height:18px;height:18px;}
.breadbar span,.breadbar i{background: url("../Images/help.png") no-repeat 10px -410px;display:inline-block; width:32px; height:18px; }
.breadbar i{background-position: -48px -411px;width:18px;}
.breadbar.bgwhile{ padding:15px 0 0 10px;}

.main_l_b{float: left;width: 880px;  padding:0;}
.main_l_b i,.main_l_r i{background-image: url("../Images/help.png"); background-repeat: no-repeat;}
.main_l_b .color3 a:hover{color:#f60;}

.main_r_b .c54 a{color:#333;}
.main_r_b .c54 a:hover{color:#f60;}
.main_r_b .b0{ border: none;}

.main_r_b{float: right;}
.main_r_b h4{ font-size:16px;height: 36px;line-height: 36px; text-indent:15px; display:block;overflow:hidden; position:relative;width:100%;font-family:"Microsoft YaHei";background:#f8f8f8;border-bottom:1px solid #dbdbdb;}
.main_r_b h5{ font-size:14px;height: 30px;line-height: 30px;}
.main_l_b h4{ font-size:16px;line-height: 32px; }
.main_l_b h5{ font-size:14px;line-height: 30px;}
.main_r_b .dashedl{background-color:#fff;border:1px solid #dbdbdb; padding:0;}

.asktop_b{background-color:#fff;text-align:center; overflow:hidden; line-height:0; padding:0}
.map_b{text-align:center; overflow:hidden; line-height:0; padding:0;border:1px solid #ccc;}

/*常见问题*/
.protype_b{padding:8px 0 5px 0;line-height:27px;}
.protype_b h4{padding:0 20px;}

.right_info{padding:10px 18px 0px 18px;}
.right_info_img{ width:220px;}
.tel_img_b{background: url("../Images/right_info.png") no-repeat 0 -148px; height:54px; padding-bottom:20px; overflow:hidden;font-family:"Microsoft YaHei"; padding-left:65px; font-size:18px; color:#e67817; line-height:26px;}
.qq_img_b{background: url("../Images/right_info.png") no-repeat 0 -73px; height:54px; padding-bottom:20px; overflow:hidden;font-family:"Microsoft YaHei"; padding-left:65px; font-size:18px; color:#5a97df; line-height:26px;}
.weixin_img_b{ position: relative;background: url("../Images/right_info.png") no-repeat 0 0px; height:54px; padding-bottom:20px;font-family:"Microsoft YaHei"; padding-left:65px; font-size:18px; color:#86c610; line-height:26px;}
.qq_img_b a{color:#5a97df; }
.qq_img_b a:hover{color:#307cd5; }
.weixin_img_b .weixin_code { display:none; position:absolute; left:0px ; top:60px; background:#fff; width:200px}
.weixin_hover .weixin_code { display: block;}

/*常见问题*/
.comprob_b{padding:8px 15px 12px 15px;line-height:27px;}
.newbie_b{height:370px;line-height:27px;border:1px solid #dbdbdb; margin-top:15px; padding-bottom:20px;  position:relative; }
.newbie_b h4{ margin-bottom:7px;}
.comprob_b .ul_comprob{ padding:15px 12px;}
.newbie_b .ul_comprob{ width:200px; padding-left:50px; padding-top:5px;}
.ul_comprob li,.ul_comprob dd{background: url("../Images/help.png") no-repeat -47px -3px; padding-left:15px; }
.ul_comprob dt{ font-size:14px;line-height:30px;height:30px;overflow:hidden;}
.newbie_img{ width:24px; height:320px; float:left;background: url("../Images/help.png") no-repeat -9px -2px; position:absolute; top:50px; left:15px;}

/*新版常见问题*/
.ul_wenda{ padding:10px 12px;}
.ul_wenda li{clear:both;padding:5px 0 5px 0;line-height:22px;}
.ul_wenda li i,.ul_wenda li .i_arr{background-image:url(../Images/img.png); border:0; line-height:0; background-repeat: no-repeat;position:absolute;display:inline-block; width:16px; height:16px;}
.ul_wenda li .i_arr{background-position:-316px -723px;top:5px;right:5px;}

.ul_wenda li .d_wen{ display:block; float:none; clear:both;padding:0px 25px 0px 30px;height:22px;overflow:hidden; cursor:pointer;position:relative}
.ul_wenda li .d_wen i{background-position:-316px -665px;top:5px;left:7px;}
.ul_wenda li .d_wen p{color:#545454; font-size:14px;}
.ul_wenda li .d_da{padding:15px 0px 10px 30px;position:relative; display:none; overflow:hidden;}
.ul_wenda li .d_da i{ background-position:-316px -686px;top:20px; left:7px;}
.ul_wenda li .d_da p{color:#666; font-size:12px;}

.ul_wenda li.cur .d_wen p{color:#3d8b04;}
.ul_wenda li.cur .d_wen .i_arr{background-position:-316px -705px;_background-position:-302px -705px; _position: relative; _margin-right:-36px; float:right}
.ul_wenda li.cur .d_da{ display: inline-block;}

.askbot_b{background-color:#f5f4f1;font-family: "Microsoft YaHei";text-align:center;border:1px solid #dbdbdb;overflow:hidden; line-height:0; padding:0}
.askbot_b a{ line-height:0; padding-bottom:3px;background-color:#fff;}
.askbot_b p{color:#222; font-size:14px;text-align:center; line-height:40px;height:40px; vertical-align:middle;display: block;}
.askbot_b p b{color:#11813a; font-size:20px; font-weight:400; font-style:italic; padding:0 6px 0 0px; position:relative; top:2px;}

.main_t_left .askbot_b p{font-size:16px;line-height:50px;height:50px;}.main_t_left .askbot_b p b{font-size:24px;}