blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,"Microsoft Yahei","\5b8b\4f53",sans-serif;}ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}table{border-collapse:collapse;border-spacing:0;}
select,input,button,textarea{font:100% arial;outline:none;}img{border:0;}a{color:#555;text-decoration:none;outline:none;}
a:hover{color:#f60;}address,cite,em,var{font-style:normal;}
.fR,.fr{float: right;}

/*left*/
.q_pagecontainer{background:url(../Images/bg_bdrex.png) repeat-x scroll 0 0;width:100%; margin-bottom:30px;}
.q_pagewrap{background:url(../Images/bg_bd_v1.png) no-repeat scroll center 0;padding-top:4px;min-width:990px;}
.q_page{background:#fff;width:990px;padding:0;margin:0 auto;}
.user-wrap{background:#fff url(../Images/bg_bdrey.png) repeat-y scroll 192px 0;width:970px;padding:0 5px 20px; overflow:hidden;}
.user-wrap .user-left{float:left;width:175px;padding:15px 0;}
.user-wrap .user-right{float:right;width:770px;padding:15px 0;}

.b_ucbreadcrumb{border-bottom:1px dotted #c9c9c9;padding-bottom:4px;margin-bottom:10px;}
.b_ucbreadcrumb em{padding:0 5px;}
.q_nar li{border-bottom:1px dotted #a3cac9;font-size:14px;font-weight:bold;}
.q_nar li.last{border-bottom:none;}
.q_nar li a{display:block;padding:7px 8px 8px 15px;height:18px;line-height:18px;overflow:hidden;color:#555;}
.q_nar li a:hover{color:#0069ca;}
.q_nar li a span{float:right;display:inline;margin-top:3px;}
.q_nar dl{padding-bottom:2px;font-weight:normal;display:none;}
.q_nar dl dt a{padding:7px 10px 7px 20px;}
.q_nar dl dt em.q_nar_arrow,.q_nar dl dt em{float:left;display:inline;width:9px;margin:3px 11px 0 0;_margin-right:8px;}
.q_nar dl dd a{padding:6px 10px 5px 40px;}
.q_nar dl a:hover{background:#e0f4f3;color:#0069CA;}
.q_li_block span.q_nar_arrow,.q_nar_flight_exp .q_nar_flight span.q_nar_arrow,.q_nar_hotel_exp .q_nar_hotel span.q_nar_arrow,.q_nar_tuan_exp .q_nar_tuan span.q_nar_arrow,.q_nar_package_exp .q_nar_package span.q_nar_arrow,.q_nar_travel_exp .q_nar_travel span.q_nar_arrow,.q_nar_zhidao_exp .q_nar_zhidao span.q_nar_arrow,.q_nar_car_exp .q_nar_car span.q_nar_arrow{background-position:0 -198px;}.q_li_block dl,.q_nar_flight_exp .q_nar_flight dl,.q_nar_hotel_exp .q_nar_hotel dl,.q_nar_tuan_exp .q_nar_tuan dl,.q_nar_package_exp .q_nar_package dl,.q_nar_travel_exp .q_nar_travel dl,.q_nar_zhidao_exp .q_nar_zhidao dl,.q_nar_piao_exp .q_nar_piao dl,.q_nar_train_exp .q_nar_train dl,.q_nar_car_exp .q_nar_car dl{display:block;}
.q_nar .q_nar_ico,.q_nar .q_nar_arrow{background:url(../Images/ico_usercenter_v3.png) no-repeat scroll 0 0;width:17px;height:16px;margin:-2px 7px 0 0;display:inline-block;vertical-align:middle;}
.q_nar_info .q_nar_ico{background-position:0 0;}
.q_nar_order .q_nar_ico {background-position: 0 -298px;}
.q_nar_active .q_nar_ico {background-position: 0 -100px;}
.q_nar  .active{background: #e0f4f3;color: #0069CA;}
.q_nar .q_nar_arrow{background-position:2px -175px;width:9px;height:10px;margin-top:4px;}


/**photo**/
.b_editimg{margin-left:8px;padding:8px 8px;height:150px;width:150px;background-color:#eee;}
.b_editimg .b_edit{position:relative;height:150px;width:150px;}
.b_editimg .b_edit .u_img{position:absolute;left:0;bottom:0;height:150px;width:150px;z-index:1;}
.b_editimg .b_edit .edit{position:absolute;height:30px;width:150px;vertical-align:middle;font-size:12px;line-height:30px;text-align:center;z-index:3;}
.b_editimg .b_edit .edit{bottom:0;left:0;color:#fff;cursor:pointer;}
.b_editimg .b_edit .edit a{color:#fff;}
.b_editimg .b_edit .edit .icon{padding-left:14px;background:url(../Images/edit.gif) no-repeat;background-position:0 3px;*background-position:0 2px;}
.b_editimg .b_edit .bg{position:absolute;height:30px;width:100%;z-index:2;background-color:#000;opacity:.2;filter:alpha(opacity=20);-ms-filter:alpha(opacity=20);}
.b_editimg .b_edit .bg{bottom:0;left:0;background-color:#000;opacity:.5;filter:alpha(opacity=50);-ms-filter:alpha(opacity=50);}
.b_editfile{padding:20px 28px;border-bottom:1px solid #d2dfdf;}
.b_editfile .r{float:right;}
.b_editfile .b_edit .icon a{color: #fff;}

/**select**/
.yselector{cursor:pointer;background-color:#fff;width:65px;float:left;margin-right:5px;position:relative;font-family: Tahoma,SimSun,Helvetica,sans-serif;color:#555;}
.yselector_arraw{width:20px;border-left:1px dotted #bababa;float:right;margin-top:2px;margin-right:-20px;display:inline;height:15px;overflow:hidden;margin-bottom:-15px;}
.yselector_arraw b{border-width:4px;border-style:solid;border-color:#555 #fff #fff #fff;width:0;height:0;font-size:0;line-height:0;display:block;margin:7px 0 0 6px;}
.yselector_box{cursor:pointer;border:1px solid #bababa;padding:3px 20px 4px 2px;_height:1%;overflow:hidden;}
.yselector_input{cursor:pointer;display:block;height:18px;width:auto;line-height:18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:0px 2px 0px 2px;border:0px;font-family: Tahoma,SimSun,Helvetica,sans-serif;color:#666;font-size:12px;}
* html .yselector_arraw{width:40px;border-width:2px;height:30px;zoom:.5;}
* html .yselector_arraw b{border-width:8px;margin-left:12px;margin-top:14px;}
@media screen and(-webkit-min-device-pixel-ratio:0){.yselector_input:focus{outline-width:1px;outline-style:dotted;outline-color:#bababa;}}
.yselector_suggest{overflow-y:auto;overflow-x:hidden;z-index:1000;position:absolute; top: 28px; left:0px;width:63px;border:1px solid #bababa;background-color:#fff;padding:0!important;}
.yselector_suggest ul{width:auto;height:auto;margin:0;padding:0!important;border:0;max-height: 235px;}
.yselector_suggest li{ background-color:#fff;color:#555;display:block;line-height:24px; font-size:12px;
font-weight:normal;
height:24px;padding:0 5px 0 4px!important;outline:0;text-overflow:ellipsis;overflow:hidden;}
.yselector_suggest li:hover,.yselector_suggest li.hover{color:#fff;background-color:#2476e0;}
.yselector_suggest li{overflow:hidden;white-space:nowrap;padding:0;float:none!important;clear:both;width:100%;display:block;padding-top:0!important;zoom:1;}a:hover{color:#f60;}
.search_table .yselector{width:125px;}
.search_table .yselector_box{padding:2px 20px 2px 0px;}
.search_table .yselector_suggest{top: 25px; left:0px;width:123px;}
.idcardtypeselect .yselector{width:135px;}
.idcardtypeselect .yselector_box{padding:3px 20px 4px 0px;}
.idcardtypeselect .yselector_suggest{top: 25px; left:0px;width:133px;}
.wtselect .yselector{width:85px;}
.wtselect .yselector_box{padding:0px 20px 1px 0px;}
.wtselect .yselector_suggest{top: 22px; left:0px;width:83px;}

/** **/
.qn_usercenter_in{margin:0 auto;}
.inner{background-color:#fff;position:relative; padding:0px 5px;}
.password .inner{width:460px;padding-bottom:20px;}
h4{border-bottom:1px solid #e5e5e5;padding-bottom:9px;margin-bottom:12px;}
h4 .title{color:#555;font:normal 14px SimSun,Arial,sans-serif;font-weight:bold;}
h4 .modify{color:#0069ca;font:normal 12px SimSun,Arial,sans-serif;margin-left:18px;cursor:pointer;}
.basic_main .welcome_tip{margin-bottom:8px;padding:5px 0 15px 0;color:#555;border-bottom:3px solid #588dd5;font:normal 12px/16px SimSun,Arial,sans-serif;}
/*********/
.welcome_tip .uname{display:inline-block;margin-left:7px;height:16px;font-weight:bold;position:relative;font-size:14px;font-family:Tahoma,SimSun,sans-serif;}
.welcome_tip .uname .tri{position:absolute;margin:0;height:0;width:0;bottom:-19px;left:15px;overflow:hidden;border-style:dashed dashed solid dashed;border-color:transparent transparent #588dd5 transparent;border-width:5px;}
.welcome_tip .reset_psw{color:#0069ca;margin-left:20px;}
.qn_usercenter_in .indexform{float:left;width:100%;padding:10px 0;font-family:Tahoma,SimSun,Helvetica,sans-serif;}
.qn_usercenter_in .indexform .displays{margin-bottom:45px;}
.qn_usercenter_in .indexform .r{margin-left:76px;}
.qn_usercenter_in .indexform p{height:1%;margin:4px 0;}
.qn_usercenter_in .indexform .modifydiv p{height:1%;margin-bottom:20px;}
.qn_usercenter_in .indexform .modifydiv p.unmodify{margin-top:-9px;}
.qn_usercenter_in .indexform p:after{clear:both;display:block;height:0;visibility:hidden;content:".";}
.qn_usercenter_in .indexform .descext{float:left;height:30px;line-height:30px;vertical-align:middle;width:215px;margin-right:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-family:Tahoma,SimSun,sans-serif;font-size:14px;color:#666;}
.qn_usercenter_in .indexform .infoname{float:left;color:#999;font-size:12px;width:66px;height:30px;line-height:30px;vertical-align:middle;padding-right:10px;text-align:right;}
.qn_usercenter_in .indexform .radio{height:13px;width:13px;}
.button_canc,.button_ok{border:0px;display:inline-block;margin-right:10px;height:30px;width:79px;color:#fff;font:14px/30px SimSun,sans-serif;text-align:center;background:url(../Images/user_basic.png) 0 0 no-repeat;cursor:pointer;}
.button_ok:hover{background-position:-81px 0; color:#fff;}
.button_canc{color:#666;background:url(../Images/user_basic.png) -162px 0 no-repeat;}
.qn_usercenter_in .indexform .textbox{float:left;border:1px solid #ccc;height:28px;width:193px;padding:0 5px;color:#666;vertical-align:middle;font:12px/26px Tahoma,SimSun,sans-serif;}
.qn_usercenter_in .indexform .label_for{color:#555;font-size:14px;cursor:pointer;padding-left:3px;}
.qn_usercenter_in .indexform p .getcode{display:inline-block;margin-top:4px;float:left;height:22px;width:105px;margin-left:10px;color:#fff;text-align:center;font:12px/22px SimSun,sans-serif;vertical-align:middle;background:url(../Images/user_basic.png) 0 -34px no-repeat;}
.qn_usercenter_in .indexform p .getedcode{display:inline-block;margin-top:4px;float:left;height:22px;width:105px;margin-left:10px;color:#555;text-align:center;font:12px/22px SimSun,sans-serif;vertical-align:middle;background:url(../Images/user_basic.png) 0 -58px no-repeat;}
.qn_usercenter_in .indexform p .getcode:hover{background:url(../Images/user_basic.png) -109px -34px no-repeat;}

/** */
.stage_main{float:right;display:inline;width:770px; padding:0; margin:0;}
.qn_usercenter_in .pis_title{margin-bottom:20px;}
.qn_usercenter_in .stage_main .infoname{ color:#444; width:100px;}
.pis_title{background-color:#F7FDFB;border-bottom:1px solid #8ab6dd;line-height:33px;height:33px;padding:0 10px;font-weight:bold;font-size:14px;color:#0069C9;}
.search_table{width:100%;border-collapse:collapse;}
.search_table td{padding:10px;}
.search_table.pis_title {margin-bottom:10px; background:#edf8ff;}
.search_table.pis_title td{padding:5px 10px;border-bottom:1px solid #F7FDFB;}
.textbox{font-size:12px;margin-top:1px;margin-right:10px;padding:2px 1px 1px;height:18px;border:1px solid #BDBBBC;width:104px;font-family:verdana;line-height:18px;overflow:hidden;}
.search_btn{background:url(../Images/user_basic.png) no-repeat scroll 0 0px transparent;
border:0 none;cursor:pointer;display:inline;float:left;height:30px;outline:medium none;
width:80px;text-align-last:center; }
.search_btn:hover{ ackground:url(img/user_basic.png) no-repeat scroll 0 0px transparent;
background-position:-81px 0px;}
.search_btn span,.search_btn:hover span{font-size:14px; font-weight:bold; color:#fff;}
.grey{color:#888;}
.red{color:#f00;}
.btn,.btn span{background:url(../Images/user_basic.png) no-repeat left -206px;}
.btn{float:left;margin:0 5px 0 0;display:block;height:22px;line-height:22px;padding-right:9px;background-position:right -206px;color:#fff;}
.btnf{float:none;display:inline-block;padding-right:0;}
.btn:hover{color:#fff;}
.btn span{color:#fff;display:block;float:left;cursor:pointer;line-height:22px;height:22px;padding-left:9px;}
.fk_btn,.fk_btn span{ font-size:12px;background:url(../Images/user_basic.png) no-repeat left -239px;}
.fk_btn{background-position:right -239px; margin:0 auto;float: none; width:35px;}
.fk_btn:hover,.fk_btn:hover span{background:url(../Images/user_basic.png) no-repeat left -264px;}
.fk_btn:hover{background-position:right -264px; margin:0 auto;float: none; width:35px;}
.btn_short{padding-right:16px;}
.btn_short span{padding-left:16px;}
.tip_alt{padding:8px 5px;font:normal 12px/16px simsun;}
.tip_alt em{display:inline-block;padding:0 10px;font-family:Arial;}
.stage_main .help{float:right;padding:8px 0;font:normal 12px/16px simsun;}

.user_table{width:100%;border-collapse:collapse;margin-bottom:10px;table-layout:fixed;}
.user_table th{background-color:#f5f5f5;border-top:1px solid #ddd;font-weight:bold;}
.user_table th,.user_table td{padding:5px 0;line-height:22px;}
.user_table td{vertical-align:top;word-wrap:break-word;break-word:break-all;}
.user_table td{border-bottom:1px solid #ddd;}
.user_table .ct1{width:102px;padding-left:10px;}
.user_table .pr10{padding-left:10px;text-align:left;}
.user_table .ct2{width:80px;text-align:center;}
.user_table .ct3{width:100px;}
.user_table .ct4{width:170px;}
.user_table .ct5{width:90px;}
.user_table .ct6{width:50px;text-align:center;}
.user_table .ct7{width:88px;text-align:center;padding-right:0;}
.user_table .ct7 a{padding:0 6px;display:inline-block;}
.user_add{margin-bottom:20px;}
.user_add .page_nav{float:right;margin:5px 10px 0 0;}
.titlep{padding:5px 0 0 0;line-height:25px;font-weight: bold;color:#666;}
.w250{width:200px; height:21px; line-height:21px; color:#666;}
.yellow{ color:#fd7d02;}
.green{ color:#096;}
.gray{ color:#999;}
.blue{color: #006699;}

.sys_table{width:100%;border-collapse:collapse;margin-bottom:10px;table-layout:fixed;}
.sys_table th{background-color:#F7FDFB;border-bottom-color: #D2DFDF; border-bottom-style: solid; border-bottom-width: 1px; border-top-color: #D2DFDF; border-top-style: solid; border-top-width: 1px; font-weight: normal; padding-bottom: 6px; padding-right: 0; padding-top: 6px;font-weight:bold;}  
.sys_table th,.sys_table td{padding:5px 0;line-height:22px;text-align:center;}
.sys_table td{vertical-align:top;word-wrap:break-word;break-word:break-all;}
.sys_table td{border-bottom:1px solid #ddd;padding:7px 0;}
.sys_table .ct1{width:102px;padding-left:10px;}
.sys_table .pr10{padding-left:10px;text-align:left;}
.letter{width: 18px;height: 16px;overflow: hidden;cursor: pointer; padding:0px 12px;
background:url(../Images/letter.png) 0 0px no-repeat; margin-right:5px;}
.letter.gray{background:url(../Images/letter.png) 0 -15px no-repeat;}
.detailstable{border:1px solid #ddd;}
.detailstable th,.detailstable td{border:0px;}
.order_table{width:100%;border-collapse:collapse;border:1px solid #ddd;margin-bottom:10px; text-align:left;}
.order_table th{background-color:#f5f5f5;font-weight:bold;font-weight:normal;border-right:1px solid #ddd; line-height: 22px;}
.order_table th,.order_table td{ vertical-align:middle;padding:4px 10px; }
.order_table td{word-wrap:break-word;break-word:break-all;text-align:center;}
.order_table td{border-top:1px solid #ddd;border-right:1px solid #ddd;}
.order_table .noborder{padding:0px 0px;}
.order_table_box{width:100%; margin: auto;border:0px;margin-top:-1px !important; margin-top:0px;}
.order_table_box td{border-right:0px;text-align: left;padding:7px 10px; }
.order_table_box span,.order_table_box b {width:80px; text-align:left; float:right;font-weight:normal;}
.order_table_box span{width:60px; }
table b.yellow{ font-size:16px;}
.order_table a{color: #006699; line-height:20px;cursor:pointer;}
.order_table a:hover{color: #049; }
.center_table th,.center_table td{text-align:center;}
/***״**/
.flowstep{width:720px;margin:0 auto;padding:20px 0}
.flowstep ol{overflow:hidden;zoom:1}
.flowstep li{float:left;text-align:center}
.flowstep .step-name{padding:3px 0;font-weight:700;color:#888}
.flowstep .step-no{height:34px;line-height:34px;font-family:'arial black';color:#fff;font-size:18px}
.flowstep .step-last .step-no{background-position:50% -136px}
.flowstep .step-time{color:#999;padding:8px 0}
.flowstep .step-time .time-first,.flowstep .step-time .time-last{display:inline-block;*display:inline;*zoom:1}
.flowstep .step-time .time-first{padding-right:25px}
.flowstep .step-time .time-last{padding-left:25px}
.flowstep .step-cur .step-name,.flowstep .step-last-cur .step-name{color:#f70}
.flowstep .step-cur .step-no{background-position:50% 0}
.flowstep .step-first .step-cur .step-no{background-position:50% -34px}
.flowstep .step-last .step-cur .step-no{background-position:50% -68px}
.flowstep .step-last-cur  .step-no{background-position:50% -68px}
.flowstep .step-done .step-no{background-position:50% -170px}
.flowstep .step-first .step-done .step-no{background-position:50% -204px}
.flowstep .step-sub{position:relative;margin:0 auto;width:155px;height:34px}
.flowstep .step-sub-box .step-sub-done{background-position:50% -238px}
.flowstep .step-sub-box .step-sub-none{background-position:50% -272px}
.flowstep .step-sub-box .step-sub-half{background-position:50% -306px}
.flowstep .step-sub .sub-first,.flowstep .step-sub .sub-last{position:absolute;top:11px;font-weight:700;color:#888;white-space:nowrap}
.flowstep .step-sub .sub-first{right:120px;text-align:right}
.flowstep .step-sub .sub-last{left:120px}
.flowstep-5{margin-left:-30px;width:800px}
.flowstep-5 li{width:155px}
.flowstep .step-no, .flowstep .step-sub-box .step-sub { background-attachment: scroll; background-clip: border-box; background-color: rgba(0, 0, 0, 0); background-image: url("../Images/flowstepbg.png"); background-origin: padding-box; background-repeat: no-repeat; background-size: auto auto; background-position:50% -102px;
}
.flowstep_main{padding:10px 15px;}
.flowstep_main h4{border-bottom:1px solid #ddd; padding:0px 5px;padding-bottom:9px;margin-bottom:12px;}
.flowstep_main h4 .title{color:#333;font:normal 14px SimSun,Arial,sans-serif;font-weight:bold;}

.pay-dialog { padding-left:5px;}
.pay-dialog dt,.pay-dialog dd{margin-right:12px;display:inline-block;*display:inline}
.pay-dialog .trade-detail-imfor{margin-top:10px;height:36px}
.pay-dialog .imfor-icon{margin:0 6px 0 5px}
.pay-dialog .imfor-title{margin-top:5px;line-height:24px;font-size:14px;font-weight:400;}
.pay-dialog .detail-num{color:red}
.pay-dialog .title{font-weight:bold;font-size:14px;}

.info_detail { margin-bottom:20px;}
.info_detail .info{border-bottom:1px solid #ddd; padding:7px 0px; margin-top:5px; overflow:hidden;}
.info_detail .info b{ padding:2px 6px; background:#2476e0; color:#fff; float: left; margin-right:10px;}
.info_detail .info span{ width:110px; float: left;}
.info_detail .info .info2 { width:170px;}
.info_detail .info .info3 { width:330px;}/*******/
.tab_nav{border-bottom:1px solid #a3c5e7;color:#555;padding-top:33px;
width:770px;_overflow:hidden; margin-bottom:12px;}
.tab_nav .text_line{text-decoration:underline;}
.tab_nav ul{float:left;margin-top:-34px;position:relative;}
.tab_nav ul li{float:left;border:1px solid #ccdcf2;border-bottom:none;margin-right:-1px;background-color:#f6fcfd;font-size:14px;cursor:pointer;height:33px;line-height:33px;position:relative;}
.tab_nav ul li a{display:block;outline:none;color:#555;padding:0;padding:0px 15px;text-align:center;}
.tab_nav ul li a:hover{color:#f60;}
.tab_nav ul li.active{font-weight:bold;background-color:#fff;color:#0088a4;border:1px solid #a3c5e7;border-bottom:1px solid #fff;margin-right:0;margin-bottom:-1px;}
.tab_nav ul li.active a,.tab_nav ul li.active a:hover{color:#0064a4;}
.tab_nav p{margin-right:10px;float:right;margin-top:-28px;_display:inline;}

.tw_box{ padding:0px 30px}
.tw_box p{margin:25px 0px 5px 0px; line-height:25px; color:#333; font-size:14px; }

.tw_box .textbox{padding-top:2px;padding-left:4px;padding-right:4px;height:19px; color:#666;
line-height:19px;border:1px solid #bdbbbc;width:550px;font-size:14px;overflow:hidden;}
.tw_box .textareabox{padding-top:2px;padding-left:4px;padding-right:4px;height:150px; color:#666;
line-height:19px;border:1px solid #bdbbbc;width:550px;font-size:14px;overflow:hidden;}
.wtselectname{ float:left;}
.tw_box .wtselect{ float: left; width:200px;}
.button_p{ float:right; width:200px; padding-right:120px;margin:0px 0px 5px 0px; }

/*******/
.pj_box{margin:10px 0px 25px 0px;clear: both;}
.pj_box p{ background:#f5f5f5; height:22px; line-height:22px; padding:4px 10px; color:#777;}
.pj_box p span{ float:right;color:#999;}
.pj_box .pj_content{padding:10px 10px;line-height:24px;}
.pj_box .pj_content p{margin:0; background:none; height:22px; line-height:22px; padding:0px 0px; color:#333;}
/********/
.asbox{padding:0 10px;}
.asbox .hd{font:normal 14px/28px SimSun;}
.asbox .uptype{padding:10px 0;font-size:12px;font-family:Tahoma,Simsun,sans-serif;line-height:12px;color:#999;}
.asbox .umain,.upld{padding-left:26px;}
.asbox .l{float:left;height:300px;border-right:1px solid #e3e3e3;padding-right:15px;}
.asbox .l .bigimg{border:1px solid #b0b0b0;vertical-align:middle;text-align:center;height:300px;width:400px;display:table-cell;}
.asbox .l .bigimg img{vertical-align:middle;}
.asbox .r{float:left;height:300px;padding-left:15px;}
.asbox .r img{margin-bottom:10px;}
.asbox .r p{font-size:12px;font-family:Tahoma,Simsun,sans-serif;color:#999;margin-bottom:15px;}
.asbox .r .r_tip{color:#cb630c;line-height:16px;font-size:12px;padding-bottom:25px;width:230px;}
.asbox .r .lm{float:right;}
.asbox .btns{text-align:center;border-top:1px solid #f2f2f2;padding-top:30px;margin-top:30px;}
.asbox .confirm,.canc_confirm{border:0;display:inline-block;height:30px;width:105px;text-align:center;vertical-align:middle;font-size:14px;line-height:30px;color:#fff;cursor:pointer;background:url(../Images/user_basic.png) 0 -121px no-repeat;}
.asbox .confirm{margin-right:10px;}
.asbox .confirm:hover{background-position:0 -156px;}
.asbox .canc_confirm{color:#555;background:url(../Images/user_basic.png) 0 -85px no-repeat;}
.asbox .cur{padding:4px;border:1px solid #ddd;width:150px;height:150px;overflow:hidden;}
.asbox .tab{margin-top:10px;border-left:1px solid #ddd;height:1%;}
.asbox .tab:after{clear:both;display:block;height:0;visibility:hidden;content:".";}
.asbox .tab li{float:left;padding:0 20px;border-top:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;font:normal 14px/28px SimSun;background-color:#e7ecf0;cursor:pointer;}
.asbox .tab li.active{border-bottom:1px solid #fff;background-color:#fff;cursor:default;}
.asbox .ct{margin-top:-1px;padding-top:24px;border-top:1px solid #ddd;}
.asbox .alist{margin:10px 0 0 -6px;height:1%;width:656px;}
.asbox .alist:after{clear:both;display:block;height:0;visibility:hidden;content:".";}
.asbox .alist li{float:left;display:inline;margin:8px;border:1px solid #ddd;width:64px;height:64px;cursor:pointer;}
.asbox .alist li.active{margin:6px;border:3px solid #f60;}

.addfile{display:inline-block;width:120px;position:relative;text-align:center;line-height:30px;vertical-align:middle;height:30px;color:#fff;text-decoration:none;font-size:14px;cursor:pointer;outline:none;
background:url(../Images/user_basic.png) -121px -120px no-repeat;border:0px;}
.addfile:hover{background-position:-121px -155px;}
div.icon{border:1px solid #f0f0f0;overflow:hidden;margin:0 auto;}
div.large{width:150px;height:150px;}
div.medium{width:64px;height:64px;}
div.small{width:48px;height:48px;}
div.wrapper_l{overflow:hidden;float:left;width:152px;height:190px;}
div.wrapper_m{overflow:hidden;width:66px;}
div.wrapper_s{overflow:hidden;float:left;width:66px;}
td label{font-size:14px;color:grey;font-weight:bold;}
td span{font-size:14px;color:grey;}
td p{text-align:center;}
td.left{width:80px;}
td.right{padding-bottom:20px;}

/*photo**/
.photodiv input { border:0; padding:0; margin:0; } 
.photodiv { margin:0 auto; width:100%; overflow:hidden; padding:20px 0 10px 0; } 
.photodiv .photoline { position:relative; float:left; width:300px; text-align:left } 
.photodiv .photoline span.photospan { float:left; padding-top:2px; } 
.photodiv .photofile { position:absolute; left:0; width:250px; top:0;height:28px; filter:alpha(opacity=0); opacity:0; cursor: pointer } 
.photodiv .photofile1 { float:left; margin-left:8px; z-index:1; width:66px;height:28px; line-height:28px; background:url(../Images/liulan.gif) no-repeat 0 0;text-indent:-9999px; cursor: pointer } 
.photodiv .inputstyle { border:1px solid #BEBEBE; width:170px; float:left;height:23px; line-height:23px; background:#FFF; z-index:99 } 
/*tishi*/ 
.yellowbox{-o-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; padding:8px 10px;background-color:#f9f2ba;border:1px solid #e9d315;color:#666;}
.yellowbox b{ color:#f60}
.prompt_my{margin:0 0px;PADDING:5px;TEXT-ALIGN: left; background-color:#feffe6;border:1px solid #eaaa22;color:#333;}
.error_my {margin:0 20px;PADDING:5px;TEXT-ALIGN: left; background-color:#fff6f7;border:1px solid #ffa96c;color:#333;}
.right_my {margin:0 20px;PADDING:5px;TEXT-ALIGN: left; background-color:#feffe6;border:1px solid #eacba0;color:#333;}
.prompt_my  i{PADDING:0px 9px;DISPLAY: inline-block;background:url(../Images/icon.gif) no-repeat left -46px;}
.error_my  i{PADDING:0px 9px; DISPLAY: inline-block; background:url(../Images/icon.gif) no-repeat left -97px;}
.right_my  i{PADDING:0px 9px;DISPLAY: inline-block;background:url(../Images/icon.gif) no-repeat left -69px;}
/*验证*/
.spanhover {tEXT-ALIGN: right;  LINE-HEIGHT: 29px;HEIGHT: 28px;DISPLAY: inline-block; PADDING:0px 0px 0px 12px;background:url(../Images/regs.gif) repeat-x 0px -640px;  color:#666;}
.spanhover b{LINE-HEIGHT: 29px;HEIGHT: 28px; font-weight:400;TEXT-ALIGN: left;  PADDING:0px 10px 0px 0px;DISPLAY:inline-block; background:url(../Images/regs.gif) no-repeat right -640px;  color:#666;}
.spanhover b i{padding:0px 8px;DISPLAY: inline-block; background:url(../Images/icon.gif) no-repeat left -93px;  color:#ff5243;}
i.right{margin-left:12px;background:url(../Images/icon.gif) no-repeat left -65px;color:#ff5243;PADDING:0px 9px; LINE-HEIGHT: 28px;HEIGHT: 28px;
DISPLAY: inline-block;}