/**b_ucbreadcrumb**/
.b_ucbreadcrumb{padding:5px 0px 5px 20px;height:30px;line-height:30px;border:1px solid #e6e6e6;}
.b_ucbreadcrumb a{display:inline-block;color:#4c4c4c;text-decoration:none; cursor:pointer;}
.b_ucbreadcrumb a:hover{color:#3b8de3;text-decoration:none;}
.b_ucbreadcrumb a span{color:#4c4c4c;}
.b_ucbreadcrumb span.c4c{color:#4c4c4c;}
.b_ucbreadcrumb span{display:inline-block;vertical-align:middle;color:#808080;}
.b_ucbreadcrumb em{display:inline-block;width:24px;height:14px;background:url(../Images/ico_usercenter_v3.png) no-repeat  9px -134px;text-indent:-999em;vertical-align:middle;}
.b_ucbreadcrumb .lt{background:url(../Images/ico_usercenter_v3.png) no-repeat  9px -93px;}
/**tab_user**/
.qn_usercenter_in{margin:15px auto 0;}
.tab_user{height:167px;font:16px/40px "Microsoft YaHei";border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}
.tab_user li{float:left;height:167px; color:#333; width:25%;_width:24.97%;position:relative;}
.tab_user li .tab_ubd{ position:absolute; top:0; left:-1px; right:-1px; z-index:1; width:197px;height:102px; display:inline-block;text-align:center; line-height:40px; padding:35px 0 20px 0;text-align:center;border:1px solid #e6e6e6; border-right:0}
.tab_user .tab_ulast .tab_ubd{width:198px;}
.tab_user li.active .tab_ubd,.tab_user li:hover .tab_ubd{border:1px solid #f18c26;color:#3b8de3;z-index:2;}
.tab_user li a:hover{color:#3b8de3;}
.tab_user li .u-s{background:url("../Images/tab_user.png") no-repeat; width:70px;height:70px; display: inline-block; }
.tab_user li .u-s1{ background-position:0px 0px;}
.tab_user li .u-s2{ background-position:-70px 0px;}
.tab_user li .u-s3{ background-position:-140px 0px;}
.tab_user li .u-s4{ background-position:-210px 0px;}
/**user_info**/
.user_Stat1{ clear:both;border:1px solid #e6e6e6; border-top:0; padding:30px 20px 10px 20px}
.user_Stat2{ clear:both;border:1px solid #e6e6e6;padding:30px 20px 10px 20px; margin-top:10px;}
.m_title{border-bottom: 1px solid #e6e6e6;font-size:18px; color:#3b8de3; position:relative; font-weight:normal;display:block;height:36px;line-height:36px; margin:0; padding:0}
.m_title span{border-bottom: 3px solid #95cae8;height:35px;line-height:35px;position: absolute; left:0; top:0; z-index:9;}
.user_tit{ font-size:24px; color:#3b8de3;}
.user_tit span{color:#f08200; padding:0 5px;}
.user_ul{ color:#666;display:block; width:100%; padding:20px 0 30px 0;overflow:hidden;}
.user_ul li{ width:50%; line-height:36px;height:36px;  float:left; overflow:hidden; position:relative;}
.user_ul li .user_edit{color:#3b8de3;border-bottom:1px solid #fff; position:absolute; top:0; right:0;line-height:24px; padding-top:6px; display: inline-block}
.user_ul li .user_edit:hover{ color:#f08200; border-bottom:1px solid #f08200; }
.user_p5 li{ padding:5px 0}
.user_ul li.w40{width:40%;}
.user_ul li.w60{width:60%;}
.user_ul li.w30{width:30%;}
.user_ul li.w70{width:70%;}
.user_ul li i{display:inline-block;margin-right:8px;width:14px;height:16px;vertical-align:middle;background-image:url(../Images/ico_usercenter_v3.png); background-repeat: no-repeat;overflow:hidden;}
.user_ul li .i_mobile{ background-position: -0 -224px }
.user_ul li .i_email{background-position: -0 -265px }
.user_ul li .price{ font-size:24px; color:#f08200; font-weight:normal;}


.inner{background-color:#fff;position:relative; padding:0px 0;}
.password .inner{width:460px;padding-bottom:20px;}
.indexform h4{border-bottom: 1px solid #e6e6e6;font-size:15px; color:#555; position:relative; font-weight: bold;display:block;height:36px;line-height:36px;padding:0;}
.indexform h4 .title{border-bottom: 3px solid #95cae8;height:35px;line-height:35px;position: absolute; left:0; top:0; z-index:9;}
.indexform h4 .modify{color:#3b8de3;font:normal 12px SimSun,Arial,sans-serif;margin-left:90px;cursor:pointer;line-height:38px;}
.basic_main .welcome_tip{margin-bottom:8px;padding:5px 0 15px 0;height: 18px;line-height: 18px; vertical-align:middle;color:#555;border-bottom:3px solid #588dd5;font:normal 12px/16px SimSun,Arial,sans-serif;}
/*********/

.welcome_tip .uname{display:inline-block;margin-left:7px;height:17px;font-weight:bold;position:relative;font-size:14px;font-family:Tahoma,SimSun,sans-serif;}
.welcome_tip .uname .tri{position:absolute;margin:0;height:0;width:0;bottom:-18px;left:50%; margin-left:-5px;overflow:hidden;border-style:dashed dashed solid dashed;border-color:transparent transparent #588dd5 transparent;border-width:5px;}
.welcome_tip .reset_psw{color:#0069ca;margin-left:20px;}
.qn_usercenter_in .indexform{float:left;width:100%;padding:10px 0;}
.qn_usercenter_in .indexform .displays{margin-bottom:45px;}
.qn_usercenter_in .indexform .r{margin-left:76px;}
.qn_usercenter_in .indexform p{height:1%;margin:4px 0;}
.qn_usercenter_in .indexform .modifydiv,.qn_usercenter_in .indexform .displays{ padding-top:20px;}
.qn_usercenter_in .indexform .modifydiv p{height:1%;margin-bottom:20px;}
.qn_usercenter_in .indexform .modifydiv p.unmodify{margin-top:-9px;}
.qn_usercenter_in .indexform p:after{clear:both;display:block;height:0;visibility:hidden;content:".";}
.qn_usercenter_in .indexform .descext{ float:left;height:30px;line-height:30px;vertical-align:middle;width:215px;margin-right:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-family:Tahoma,SimSun,sans-serif;font-size:14px;color:#666;}
.qn_usercenter_in .indexform .infoname{float:left;color:#999;font-size:12px;width:66px;height:30px;line-height:30px;vertical-align:middle;padding-right:10px;text-align:right;}
.qn_usercenter_in .indexform .radio{height:13px;width:13px;}
.qn_usercenter_in .indexform .note{color:#999}

.button_canc,.button_ok{border:0px;display:inline-block;margin-right:10px;height:30px;width:79px;color:#fff;font:14px/30px Microsoft YaHei;text-align:center;background:url(../Images/user_basic.png) 0 0 no-repeat;cursor:pointer;}
.button_gray{border:0px;display:inline-block;margin-right:10px;height:28px;width: auto; padding:0 12px;color:#3b8de3;font:13px/28px Microsoft YaHei;text-align:center;cursor:pointer;background:#fff;}
.button_gray2{border:1px solid #ccc;display:inline-block;margin-right:10px;height:28px;width: auto; padding:0 12px;color:#3b8de3;font:13px/28px Microsoft YaHei;text-align:center;cursor:pointer;background:#fff;}
.button_yellow{height:42px;text-align:center; padding:0 50px;display:inline-block;
background:#ff8703; border:0; border-bottom:3px solid #f60; border-radius:3px;font:22px/42px "Microsoft YaHei";color:#fff; margin-right:15px;cursor:pointer;}
.button_yellow:hover{background:#f70; border:0; border-bottom:3px solid #f50; color:#fff; }
.button_ok:hover{background-position:-81px 0; color:#fff;}
.button_canc{color:#666;background:url(../Images/user_basic.png) -162px 0 no-repeat;}

.qn_usercenter_in .indexform .textbox{border:1px solid #ccc;height:28px;width:193px;padding:0 5px;color:#666;vertical-align:middle;font:12px/26px Tahoma,SimSun,sans-serif;}
.qn_usercenter_in .indexform .label_for{color:#555;font-size:14px;cursor:pointer;padding-left:3px;}
.qn_usercenter_in .indexform p .getcode{display:inline-block;margin-top:4px;float:left;height:22px;width:105px;margin-left:10px;color:#fff;text-align:center;font:12px/22px SimSun,sans-serif;vertical-align:middle;background:url(../Images/user_basic.png) 0 -34px no-repeat;}
.qn_usercenter_in .indexform p .getedcode{display:inline-block;margin-top:4px;float:left;height:22px;width:105px;margin-left:10px;color:#555;text-align:center;font:12px/22px SimSun,sans-serif;vertical-align:middle;background:url(../Images/user_basic.png) 0 -58px no-repeat;}
.qn_usercenter_in .indexform p .getcode:hover{background:url(../Images/user_basic.png) -109px -34px no-repeat;}


/** */
.stage_main{float:right;display:inline;width:794px; padding:0; margin:0;}
.stage_main .pis_title{padding:5px 20px; font-size:15px}
.qn_usercenter_in .stage_main .infoname{ color:#444; width:100px;}
.pis_title{line-height:32px;height:32px;padding:15px 0;color:#3b8de3;font-size:14px; font-weight:bold;background-color:#F7FDFB;border-bottom:1px solid #3b8de3;}
.pis_title span{color:#444;font-weight: normal; padding:0 2px 0 20px;line-height:32px;}
.stage_main .search_table.pis_title{background-color: none;border-bottom:none;padding:15px 0;}

.textbox{ width:360px;float:left;font-size:12px;padding:2px 1px 2px 5px;
line-height:26px;height:26px;border:1px solid #cdcccc;margin-right:13px;}
.search_btn{color:#fff;background:url(../Images/user_basic.png) no-repeat  -139px -34px;border:0 none;cursor:pointer;display:inline;
float:left;height:32px;line-height:32px;outline:medium none;width:69px;text-align-last:center;font-weight: bold; }

.btn,.btn span{background:url(../Images/user_basic.png) no-repeat left -201px;}
.btn{float:left;margin:0 5px 0 0;display:block;line-height:25px;height:27px;padding-right:12px;background-position:right -201px;color:#fff;}
.btnf{float:none;display:inline-block;padding-right:0;}
.btn:hover{color:#fff;}
.btn span{ font-size:12px;color:#fff;display:block;float:left;cursor:pointer;line-height:25px;height:27px;padding-left:12px;}

.fk_btn,.pj_btn{color:#fff; font-size:14px;background:url(../Images/user_basic.png) no-repeat; margin:0 auto;float: none; width:62px;vertical-align:middle; display:inline-block;}
.fk_btn span,.pj_btn span{ background:none;color:#fff;line-height:26px; height:25px;  font-weight:bold;}
.fk_btn{background-position: 0 -34px;width:62px;}
.pj_btn{background-position: -69px -34px;width:62px;}
.pj_btn span{color:#333;font-weight: normal;}
.i_piao{background:url(../Images/user_basic.png) no-repeat -223px -69px;  height:11px;width:17px; display:inline-block; margin-right:2px;}

.search_btn:hover,.fk_btn:hover,.pj_btn:hover,.btn:hover,.btn:hover span{color:#fff;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';background-color:#fff;filter:Alpha(opacity=100);filter:0\0;-moz-opacity:0.9;-webkit-opacity:0.9;opacity:0.9;}


.btn_short{padding-right:16px;}
.btn_short span{padding-left:16px;}
.tip_alt{padding:10px 5px 5px 5px;}
.tip_alt em{display:inline-block;padding:0 10px;font-family:Arial;}
.stage_main .help{float:right;padding:10px 5px 5px 5px;}

.user_table{width:100%;border-collapse:collapse;margin-bottom:10px;table-layout:fixed;border:1px solid #e6e6e6;border-bottom:0;}
.user_table th{ color:#999;background-color:#edf0f2;border-bottom:1px solid #e6e6e6;font-weight:bold;}
.user_table th,.user_table td{padding:8px 0;line-height:22px;}
.user_table td{color:#666; vertical-align:middle;word-wrap:break-word;break-word:break-all;}
.user_table.ptb tr td{ padding:12px 0}
.user_table td{border-bottom:1px solid #e6e6e6; text-align:center;}
.user_table .ct1{width:102px;padding-left:10px;}
.user_table .pr10{padding-left:10px;text-align:left;}
.user_table .ct2{width:80px;text-align:center;}
.user_table .ct3{width:100px;}
.user_table .ct4{width:170px;}
.user_table .ct5{width:90px;}
.user_table .ct6{width:50px;text-align:center;}
.user_table .ct7{width:88px;text-align:center;padding-right:0;}
.user_table .ct7 a{padding:0 6px;display:inline-block;}

.user_add{margin-bottom:20px;}
.user_add .page_nav{float:right;margin:5px 10px 0 0;}
.titlep{padding:5px 0 5px 0;line-height:25px;font-weight: bold;color:#666;font-size:14px;}
.title_bb{padding:5px 0 5px 0;line-height:25px;font-weight: bold;color:#666;font-size:14px;border-bottom:1px solid #ddd;}
.title_r_xt{ float:right;padding:0px 8px; background:#3b8de3; color:#fff;margin-right:0; border-radius:1px;}
.rutickbox{clear:both;overflow:hidden;padding:10px 5px;}
.rutickbox li{ display:block; font-size:13px;}
.rutickbox label{display:block;color:#333;height:28px; line-height:28px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.rutickbox label input{margin-right:5px;vertical-align:middle;}
.rutickbox label span{ position:relative; top:1px;}
.rutickbox label span em{color:#999; padding-left:5px;}
.r_textarea{margin-bottom:10px;margin-left:5px;width: 500px;border: 1px solid #d6d6d6;line-height: 20px;padding: 14px 10px;font-size: 14px;overflow: hidden; word-wrap: break-word; resize: none; height: 60px;}
.tip_tuipiao { font-weight:normal; cursor:pointer; float:right; position:relative; width:80px;}
.tip_tuipiao i{ background:url(../Images/img.png) no-repeat; background-position:-205px -105px; padding:0 10px}
.tip_tuipiao:hover{color:#333;}
/*费用说明*/
.tip_tuipiao:hover .refundnote{ display:inline-block;}
.refundnote{  display:none;position:absolute; top:30px;border-radius:3px;right:0px; border:1px solid #cecece; background:#fff;z-index:9; width:240px}
.refundnote .reno_bd{ position:relative;padding:10px 0px 10px 10px; line-height:24px;font-size:14px; color:#666;}
.refundnote .reno_bd span{color:#F00}
.refundnote i{position:absolute;top:-8px;right:0px; height:11px;width:18px; display:inline-block;background:url("../Images/img.png") no-repeat; background-position:-322px -200px; }
.rut_price{color:#333;font-size:18px;padding:10px 5px 10px 5px;}
.rut_price .rut_num{padding:0 0 15px 0;}
.rut_price b{padding-left:5px;font-size:22px; font-weight:normal;}

.w250{width:200px;}
.yellow{ color:#ff6600;}
.green{ color:#339933;}
.green1{ color:#009966;}
.gray{ color:#999;}
.blue{color: #0398e8;}
.blue1{color: #3b8de3;}
.zred{color:#cc0000;}
.red{color:#f00;}


.driver_box{color:#999;  padding:0 0 0 70px; position:relative; height:62px; overflow:hidden; margin-left:10px;}
.driver_box .face_img{width:60px; height:60px; overflow:hidden; border:1px solid #e6e6e6; position:absolute; top:0; left:0;}
.driver_box .face_img img{width:60px; height:60px;}
.driver_info{ clear:both; width:100%;text-align: left;}
.driver_info p{line-height:24px;}

/*查看取票信息*/
.tickeInfo{ font-size:15px;border:1px solid #fafafa; overflow:hidden; width:100%; background:#fafafa; padding:20px 0; margin-top:10px;}
.tickeTxt{ float:left; width:380px; line-height:30px; padding-left:20px;}
.tickeTxt p{ padding-bottom:10px;}
.tickeCode{ float:left; position:relative;}
.tickeCode_ul{ padding-top:0; line-height:30px;}
.tickeCode_ul li{ width:150px; padding-right:40px; text-align:center; float:left;}
.tickeCode_ul li .codeImg{ padding:8px;border:1px solid #dbdbdb; font-size:12px;}
.tickeCode_ul li .codeImg p{ line-height:20px;}
.tickeCode_tip{font-size:12px; width:200px; position:absolute; top:40%; left:170px}
.tickeTxt2{line-height:30px; padding-left:20px;padding-bottom:20px;}
.tickeCode2{float:left; position:relative; width:80%;padding-left:20px;}

/*sys*/
.sys_table{width:100%;border-collapse:collapse;margin-bottom:10px;table-layout:fixed;border:1px solid #e6e6e6;border-bottom:0;}
.sys_table th{ color:#999;background-color:#edf0f2;border-bottom-color: #e6e6e6; border-bottom-style: solid; border-bottom-width: 1px; border-top-color: #e6e6e6; border-top-style: solid; border-top-width: 1px; font-weight: normal;font-weight:bold;}  
.sys_table th{padding:5px 0;line-height:28px;text-align:center;}
.sys_table td{text-align:center;vertical-align:top;word-wrap:break-word;break-word:break-all;line-height:22px;border-bottom:1px solid #e6e6e6;padding:10px 0;}
.sys_table .ct1{width:102px;padding-left:10px;}
.sys_table .pr10{padding-left:10px;text-align:left;}
.sys_table b{ font-weight:normal;}
.letter{width: 18px;height: 16px;overflow: hidden;cursor: pointer; padding:0px 12px;
background:url(../Images/letter.png) 0 0px no-repeat; margin-right:5px;}
.letter.gray{background:url(../Images/letter.png) 0 -15px no-repeat;}
.detailstable{border:1px solid #ddd;}

.order_table{width:100%;border-collapse:collapse;border:1px solid #ddd; color:#666;margin-bottom:15px; text-align:left;vertical-align:middle;}
.order_table th{background-color:#f3f3f3;font-weight:bold;font-weight:normal;border-right:1px solid #e6e6e6;padding:4px 10px; line-height: 24px;}
.order_table td{ padding:4px 5px; line-height: 24px;word-wrap:break-word;break-word:break-all;text-align:center;border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}
.order_table .noborder{padding:0px 0px;}
.order_table td b.yellow{ font-size:14px;}
.order_table .top{vertical-align: middle;}
.order_t_blue{border:1px solid #d4e7ff;}
.order_t_blue th{background-color:#eaf2fd;border-right:1px solid #d4e7ff;}
.order_t_blue td:last-child{border-right-color:#d4e7ff;}
.order_table_box{width:100%; margin: auto;border:0px;margin-top:-1px !important; margin-top:0px;}
.order_table_box td{border-right:0px;text-align: left;padding:9px 5px 9px 10px;line-height: 22px; }
.order_table_box span,.order_table_box b {width:80px; text-align:left; float:right;font-weight:normal;}
.order_table_box span{width:60px; }
.order_table_box p{ float:left; display:inline}
.order_table a{color: #3b8de3;cursor:pointer;}
.order_table a:hover{color:#f60;}
.order_table a.gray{color: #666;cursor:pointer; width:230px; float:left;}
.order_table a.gray:hover{color:#f60;}
.order_table a.c66{color: #666;cursor:pointer;}


.center_table th,.center_table td{text-align:center;}
.order_yhq { margin-top:5px;border:1px solid #3B8DE3; background:#3B8DE3 ; padding:0px; color:#fff; font-size:12px; line-height:20px;height:20px; display:inline-block; }
.order_yhq span{ background:#fff;color:#3B8DE3;line-height:20px;height:20px; display:inline-block; min-width:30px; padding:0 5px; text-align:center; }
.order_yhq i{ font-style:normal; padding:0 5px;  line-height:20px;height:20px; display:inline-block; }
/*鑾疯禒淇濋櫓*/ 

.safety_table{width:100%;border-collapse:collapse;margin-bottom:20px; text-align:left;vertical-align:middle; font-size:13px;}
.safety_table tr th{border-bottom:1px solid #e6e6e6;color:#333;background-color:#f3f3f3;font-weight:bold;font-weight:normal;padding:2px 5px;line-height: 24px;}
.safety_table tr td{color:#666;line-height: 24px;word-wrap:break-word;break-word:break-all;text-align:left;}
.safety_table table tr td:first-child,.safety_table tr th:first-child{ padding-left:15px;}

.safety_table table{width:100%;border:1px solid #e6e6e6;border-collapse:collapse;}
.safety_table table tr td{ padding:5px; color:#555;border-bottom:1px solid #e6e6e6;}
.safety_table .safety_car{height:40px;}
.safety_table .safety_car span{ float:left; height:20px; margin-top:10px;}
.safety_table .safety_car .one{ width:200px;}
.safety_table .safety_car .two{ width:240px;}
.safe_btn{ cursor:pointer; float:right;color: #fff;font-size: 14px;background-image: url(../Images/user_basic.png); background-position: 0 -120px; background-repeat: no-repeat;width: 105px;height:32px; line-height:32px; text-align:center;vertical-align: middle;display: inline-block;}
.safe_btn:hover{color: #fff; background-position: 0 -155px;}
.i_car{margin-top:4px; float:left;width:22px; height:20px;background-image: url(../Images/user_basic.png); background-position: -222px -96px; background-repeat: no-repeat;}
.safety_table table i{border-radius:3px; font-style:normal; padding:3px 4px;background:#f70; color:#fff;}

.safety_table table .msg-weak i{margin-left:-20px;*margin-left:-18px;padding:0 10px;height:16px;background-color:none;background:url(../Images/ico.png) no-repeat 0 -160px;}
.safety_table table .msg-tips i{background-position:0 -160px;display:inline;}/*提示说明*/
.safety_table table  .msg-question i{background-position:0 -80px;display:inline;}/*有疑问*/
.safety_table table  .msg-notice i{background-position:0 -240px;display:inline;}/*消息*/
.safety_table table  .msg-attention i{background-position:0 -120px;display:inline;}/*感叹号*/

/*tab1*/ 
.tab_nav{border-bottom:1px solid #3b8de3;padding-top:40px;width:778px;_overflow:hidden;margin-bottom:15px; padding-right:15px; position:relative; margin-left:1px;}
.deals_tab_nav{ border:1px solid  #e6e6e6; border-left:0;margin-bottom:0;width:777px;}
.tab_nav .text_line{text-decoration:underline;}
.tab_nav ul{float:left;margin-top:-41px;position:relative; display:inline-block;color:#666;}
.tab_nav ul li{float:left;border:1px solid #e6e6e6;border-bottom:none;margin-right:-1px;margin-left:-1px;background-color:#fafafa;font-size:14px;cursor:pointer;height:40px;line-height:37px;position:relative;}
.tab_nav ul li a{display:block;outline:none;padding:0;padding:0px 25px;text-align:center;border-top:2px solid #fafafa;}
.tab_nav ul li.active{ position: relative; z-index:1;background-color:#fff;border:1px solid #3b8de3;border-bottom:1px solid #fff;margin-right:0;margin-bottom:-1px;}
.tab_nav ul li.active a,body .tab_nav ul li.active a:hover,.tab_nav ul li a:hover{color:#3b8de3;}
.tab_nav ul li.active a{border-top:2px solid #3b8de3;}
.tab_nav ul li.active span{ color:#f05500;}

.tab_nav p{float:right;margin-top:-32px;margin-right:-19px;_display:inline;}
.deals_exp{margin-right:0;float:right;margin-top:-30px;_display:inline;font-size:14px; color:#3b8de3;}

/*鎻愰棶*/
.tw_box{ padding:0px 30px}
.tw_box p{margin:25px 0px 5px 0px; line-height:25px; color:#333; font-size:14px; }
.tw_box .textbox{padding-top:2px;padding-left:4px;padding-right:4px;height:26px; color:#666;
line-height:26px;border:1px solid #cdcccc;width:550px;font-size:14px;overflow:hidden; float:none;}
.tw_box .textareabox{padding-top:2px;padding-left:4px;padding-right:4px;height:150px; color:#666;
line-height:24px;border:1px solid #cdcccc;width:550px;font-size:14px;overflow:hidden;}
.wtselectname{ float:left;}
.tw_box .wtselect{ float: left; width:200px;}
.button_p{ float:right; width:200px; padding-right:142px;margin:0px 0px 5px 0px; }

/***璇勪环****/
.pj_box{margin:10px 0px 25px 0px;clear: both;color:#666;}
.pj_box p{ background:#edf0f2; height:22px; line-height:22px; padding:8px 15px; color:#666;}
.pj_box p label{font-weight: normal;}
.pj_box p span{color:#999;}
.pj_box .pj_content{padding:10px 15px;line-height:24px;}
.pj_box .pj_content p{margin:0; background:none; height:22px; line-height:22px; padding:0px 0px; }



/*tishi*/ 
.yelbox{padding:10px 15px;background-color:#f0e4c1;border:1px solid #eebd84;color:#fd7f3b;line-height:22px; position:relative; margin-top:-1px;}
.yelbox span{ padding:0 5px;color:#666666;}
.yellowbox{-o-border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; padding: 10px;background-color:#ffffed;border:1px solid #e8e6e7;color:#666; margin-top:15px}
.yellowbox b{ color:#666;line-height:24px;}
.yellowbox p{ padding-left:27px; line-height:22px;}
.msg-tips i{width:16px;height:16px;background:url(../Images/ico.png) no-repeat 0 -160px;display:inline-block; margin:0 5px;}/*鎻愮ず璇存槑*/

.prompt_my{margin:0 0px;PADDING:5px;TEXT-ALIGN: left; background-color:#feffe6;border:1px solid #eaaa22;color:#333;}
.error_my {margin:0 20px;PADDING:5px;TEXT-ALIGN: left; background-color:#fff6f7;border:1px solid #ffa96c;color:#333;}
.right_my {margin:0 20px;PADDING:5px;TEXT-ALIGN: left; background-color:#feffe6;border:1px solid #eacba0;color:#333;}
.prompt_my  i{PADDING:0px 9px;DISPLAY: inline-block;background:url(../Images/icon.gif) no-repeat left -46px;}
.error_my  i{PADDING:0px 9px; DISPLAY: inline-block; background:url(../Images/icon.gif) no-repeat left -97px;}
.right_my  i{PADDING:0px 9px;DISPLAY: inline-block;background:url(../Images/icon.gif) no-repeat left -69px;}


/*tab2*/ 
.tab_nav2{color:#555;width:auto;_overflow:hidden; margin-top:20px;padding-top:34px;}
.tab_nav2 .text_line{text-decoration:underline;}
.tab_nav2 ul{float:left;margin-top:-39px;position:relative;border-left:1px solid #e8e6e7;}
.tab_nav2 ul li{float:left;border:1px solid #e8e6e7;border-left: none;border-bottom:none;background-color:#f6fcfd;font-size:14px;cursor:pointer;height:38px;line-height:38px;position:relative;}
.tab_nav2 ul li a{display:block;outline:none;color:#3b8de3;padding:0;padding:0px 25px;text-align:center;}
.tab_nav2 ul li.active{font-weight:bold;background-color:#fff;border:1px solid #e8e6e7;border-top:2px solid #3b8de3;border-bottom:1px solid #fff;margin-right:0;margin-bottom:-1px;margin-top:-1px;border-left: none; }
.tab_nav2 ul li.active a,.tab_nav ul li.active a:hover{color:#666;}
.tab_nav2_nr{border:1px solid #e8e6e7; padding:10px;margin-bottom:20px;}
.tab_nav2_nr .pub-form{ padding-left:90px; padding-top:30px;padding-bottom:20px;}

/*tab3*/ 
.tab_nav3{color:#555;width:auto;_overflow:hidden; padding:20px 20px;}
.tab_nav3 ul{padding-top:54px;float:left;margin-top:-39px;position:relative;border-bottom:4px solid #0269a5; width:100%;}
.tab_nav3 ul li{float:left;font-size:14px;cursor:pointer;height:32px;line-height:32px;position:relative; width:116px; text-align:center;background:url(../Images/message.png) no-repeat  -123px 0; margin-left:10px;}
.tab_nav3 ul li a{display:block;outline:none;color:#666;padding:0;text-align:center;}
.tab_nav3 ul li.active{border-left: none; background-position:0 0 }
.tab_nav3 ul li.active a{color:#fff;}
.tab_nav3_nr{padding:10px;margin-bottom:20px; float:none; clear:both;}
.tab_nav3_nr .pub-form{ padding-left:90px; padding-top:50px;padding-bottom:20px;}
.tab_nav3_box{ padding:20px 20px 20px 20px; overflow:hidden;}
.hb_nav3{width:540px;height:550px; float:left;}
.hb_nav3 .head_nav3{ height:87px; width:540px; position:relative;}
.hb_nav3 .head_nav3 span{background:url(../Images/message.png) no-repeat 0 -153px;height:87px; display:inline-block;}
.hb_nav3 .head_nav3 .head_l{ position:absolute; left:0; top:0; width:10px;}
.hb_nav3 .head_nav3 .head_c{background:#3b8de3; width:540px; text-align:center;}
.hb_nav3 .head_nav3 .head_c span{ margin:0 auto; width:260px;background-position:-20px -153px}
.hb_nav3 .head_nav3 .head_r{ position:absolute; right:0; top:0; width:10px;background-position:-290px -153px}
.hb_nav3 .body_nav3{background:url(../Images/messagebg2.png);height:360px;width:540px;display:inline-block; position:relative;}
.hb_nav3 .body_nav3 .body_l,.hb_nav3 .body_nav3 .body_r{position:absolute;top:0;background:url(../Images/messagebg1.png) repeat-y center 25px;height:360px;width:60px; display:inline-block;}
.hb_nav3 .body_nav3 .body_l{left:0;}
.hb_nav3 .body_nav3 .body_r{right:0;}
.hb_nav3 .body_nav3 .body_c{padding:20px 90px 10px 90px;}
.hb_nav3 .body_nav3 .body_c ul{line-height:32px;font-size:16px;font-family:"Microsoft Yahei","寰蒋闆呴粦";}
.hb_nav3 .body_nav3 .body_c .t{font-family:Arial, Helvetica, sans-serif;font-weight:bold;margin:0px 5px;}
.hb_nav3 .body_nav3 .body_c .em{display:inline-block;background:url(../Images/position.png) 0px 0px no-repeat;width:20px;height:22px;vertical-align:middle;margin-left:5px;}
.tab_nav3_box .yingzhang{background:url(../Images/message.png) no-repeat -91px -37px; height:110px;width:206px;display:inline-block;position:absolute; left:50%;margin-left:-103px; bottom:-35px;}
.print_box{cursor:pointer; float:right; width:90px; height:120px; padding-right:40px; display:inline-block; text-align:center; font-size:16px; color:#00ccc5; line-height:30px;}
.print_box .print_icon{width:90px; height:90px;display:inline-block;background:url(../Images/message.png) no-repeat 0px -37px;}
.print_box a{color:#00ccc5; }
.print_box a:hover{color:#13bcb6;}
.print_box a:hover .print_icon{ background-position:0px -245px;}

.sj_photo{text-align:center;}
.sj_photo .sj_photo_c{background:url(../Images/messagebg3.jpg) no-repeat; height:697px;width:397px;display:inline-block; margin:0 auto; position:relative;}
.sj_photo .sj_photo_nr{position:absolute;left:32px;top:122px;width:337px;height:458px;}
.sj_photo .sj_photo_logo{background:url(../Images/logo.jpg) no-repeat; height:50px;width:220px;display:inline-block; margin:30px auto 20px;}
.sj_photo .yingzhang{bottom:70px;}
.sj_photo .sj_photo_text{text-align:left; padding:0 25px;}
.sj_photo .sj_photo_text ul{line-height:32px;font-size:16px;color:#666;}

.pub-form{ padding-left:0px;padding-top:10px;padding-bottom:20px;}
.pub-form .fm-li .i-input{ height:28px; line-height:28px;}
.pub-form .h28{ height:26px; line-height:26px;}
.pub-form .fm-li .fm-label{height:24px; line-height:24px;}


/*提问*/
.askfrom_b{padding:20px 20px;}
.askfrom_b h4 {font-size: 16px; color:#333;line-height: 34px;height: 34px; border:0; padding:0; margin:0;}
.askfrom_b i{background-image: url("../Images/help.png"); background-repeat: no-repeat;display:inline-block; width:28px; height:22px; margin:7px 0px 5px 0;}
.askfrom_b .i_ask{background-position:-40px -280px;}
.askfrom_b .i_wen{background-position:-40px -308px;}
.askfrom_b .i_da{background-position:-40px -339px;}
.askfrom_b .ask_t{ line-height:24px; width: 715px;border-bottom: 1px  dashed #ddd;padding: 9px 7px;font-size: 13px;margin: 8px 0 5px;box-shadow:0 0 3px #eee inset;}


.ask_b{overflow: hidden;}
.ask_b .ask_hd{ background:#edf0f2; height:35px; line-height:35px;border:1px solid #e6e6e6; border-bottom:0}
.ask_b b{ font-weight:normal;height: 36px;line-height: 36px; float:left; padding-left:20px; color:#3b8de3;}
.ask_b span{  font-weight:normal; height: 36px;line-height: 36px;}
.ask_b .asktitle{color:#222;padding-left:10px;width:580px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; float:left;}
.ask_b .adk_btn{ float:right; padding:0 15px; display:inline-block; color:#fff; position:relative; margin-top:-1px; z-index:1;}
.ask_b .adk_ok{ background:#009865;}
.ask_b .adk_no{ background:#f83703;}
.ask_b .ask_bd{ padding:15px 20px; border:1px solid #e6e6e6; border-top:0;}
.ask_b .ask_bd p{ padding:3px 0;}


/*优惠活动*/
.deals_table_box{border:1px solid  #e6e6e6; border-top:0; padding-top:10px;  padding-bottom:20px;}
.deals_table_d{ padding:0 15px;}
.deals_table{width:100%;border-collapse:collapse;table-layout:fixed;}
.deals_table th{font-size:14px;background-color:#edf0f2;line-height:40px; color:#999; text-indent:25px; text-align:left;} 
.deals_table td{ font-weight:normal;padding:15px  0 15px 10px;line-height:22px;text-align:left;vertical-align: middle;word-wrap:break-word;break-word:break-all;font-size:14px;border-bottom:1px solid #e6e6e6; }
.deals_table td .id{ color:#333; padding-bottom:10px;}
.deals_table td p{line-height:30px;}

.deals_tu{width:260px; height:113px; padding:22px 0 0 0;background-image: url("../Images/discount.png"); background-repeat: no-repeat;
background-position:0 0; position:relative;}
.deals_tu .deals_i{width:58px; height:58px; display:inline-block; position:absolute; top:-20px; right:-18px;background-image: url("../Images/discount.png"); background-repeat: no-repeat;background-position:-999px -276px;}
.deals_tu .ygq{background-position:-76px -276px;}
.deals_tu .jjdq{background-position:-13px -276px;}
.deals_tu.gray{ background-position:0 -135px;}
.deals_tu.gray .deals_l,.deals_tu.gray .deals_r{color:#999;border-right-color:#999;}
.deals_tu .deals_l{  color:#fd7f3b;height:66px; padding-left:8px; width:110px; float:left;border-right:1px solid  #fd7f3b; font-size:18px; text-align:center;}
.deals_tu .deals_l .price{ font:60px/66px Arial;}
.deals_tu .deals_r{ color:#fd7f3b;height:66px; width:130px; float:right; text-align:left;}
.deals_tu .deals_r p{ font-size:30px; line-height:40px;}
.deals_tu .deals_r span{font-size:14px; line-height:26px;}

/*帐号绑定*/
.safe-item{display:inline-block;display:block;padding:20px 0;border-bottom:1px solid #e6e6e6}
.safe-item:after{content:".";display:block;height:0;clear:both;visibility:hidden}
* html .safe-item{height:1%}
*+html .safe-item{min-height:1%}
.safe-item .fore1,.safe-item .fore2{float:left;height:50px;}
.safe-item .fore1{width:175px;text-align:left;font-size:16px;padding-left:20px; line-height:50px;}
.safe-item .fore1 s{display:inline-block;width:50px;height:50px;background:url(../Images/abinding.png) no-repeat;vertical-align:middle;margin-right:25px}
.icon-01,.icon-02,.icon-03{float:left;margin-bottom:10px}
.safe-item .fore1 strong{margin-right:5px}
.safe-item .fore1 .icon-01{background-position:0 0}
.safe-item .fore1 .icon-02{background-position:0 -50px}
.safe-item .fore1 .icon-03{background-position:0 -100px }

.safe-item .fore2{border-left:1px solid #E6E6E6;padding-left:15px;width:430px;height:40px; margin-top:5px;}
.safe-item .fore3{text-align:center;width:100px;float:right;height:50px;}
.safe-item .fore3 a{margin:0 5px; font-size:14px;line-height:50px;color: #3b8de3;cursor:pointer;}
.safe-item .fore3 a:hover{color:#f60;}
.safe-item .ftx-01,.safe-item .ftx-02{vertical-align:middle; line-height:20px; font-size:14px; display:block}


/*热门推荐*/
.tab-ctn{ height:330px}
.ticket-list{ width:821px; position:absolute;}
.list-item{}
	.list-item {float:left;color: #666; padding:20px 24px 0 0}
	.list-item a:hover{position:relative;color: #666;}
	.list-item a{background: url("../Images/carl_bg2.png") no-repeat;background-position:0px 0px; width:180px; height:134px; display:inline-block;}
	.list-item a:hover{background-position:-190px 0px; }
	.list-item a:hover .ncoach_name_arrow{margin-left: 5px;margin-right: -5px;}
	.list-item .ncoach_name{height: 40px;overflow: hidden; padding-top:5px;}
	.list-item .ncoach_date{cursor:pointer;font:14px arial;text-align:center;padding-top:2px;}
	.list-item .ncoach_type{text-align: center;line-height: 48px; padding-top:20px;}
	.list-item .ncoach_name span{width: 60px;font: 16px/40px Microsoft Yahei;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
	.list-item .ncoach_name_start {text-align: right; padding-right:10px;}
	.list-item .ncoach_name_end {text-align: left; padding-left:10px;}
	.list-item .ncoach_name span,.list-item  .ncoach_name i,.list-item  .ncoach_type span,.list-item  .ncoach_type i {display: inline-block;}
	.list-item .ncoach_name_arrow{width:40px;height:5px;background: url("../Images/img.png") no-repeat;background-position:-28px -79px;vertical-align:17px;*vertical-align:middle;overflow:hidden;margin-left: -1px;margin-right: 1px;transition: margin .3s;-webkit-transition: margin .3s; -moz-transition: margin .3s;-ms-transition: margin .3s; }
	.list-item .ncoach_type_bus{width:22px;height:20px;background: url("../Images/img.png") no-repeat;background-position:-36px -106px;vertical-align:-5px;*vertical-align:middle}
	.list-item .ncoach_type_t1{font:14px Simsun}
	.list-item .ncoach_type_t2{color:#f60;font:16px Microsoft Yahei;vertical-align:3px; position:relative; top:5px; left:-1px;}
	.list-item .ncoach_type_t3{color:#F60;font:28px arial;vertical-align:-2px;}
	