blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:14px/1.5 tahoma,arial,"Microsoft Yahei","\5b8b\4f53",sans-serif;color:#555;}
ul,ol,li{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
select,input,button,textarea{font:100% arial;outline:none;}
img{border:0;}a{color:#666;text-decoration:none;outline:none;}
a:hover{color:#f60;}address,cite,em,var{font-style:normal;}
.c333{color:#333;}
.c555{color:#555;}
.c888{color:#888;}
.cf60{color:#f60;}
.c999{ color:#999;} 
.bold{font-weight:700;}.f14{font-size:14px;}.f16{font-size:16px;}.f12{font-size:12px;}
.clear{height:0;overflow:hidden;clear:both;}
.left{float:left;}.right,.fR,.fr{float:right;}.padtop5{padding-top:5px;}.padtop10{padding-top:10px;}
.margtop5{margin-top:5px;}.margtop10{margin-top:10px;}
.Verdana{font-family:Verdana;}
.TextInput:focus{border:1px solid #3b8de3;box-shadow:0 0 2px rgba(109,209,255,.5);transition:border 0.1s linear 0s,box-shadow 0.1s linear 0s;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* html .clearfix{zoom:1;}/* IE6 */
*:first-child+html .clearfix{zoom:1;}/* IE7*/
/*白色*/.color1{color:#fff;}.color1 a{color:#fff;}a.color1{color:#fff;}
/*黑色*/.color2{color:#666;}.color2 a{color:#666;}a.color2{color:#666;}
/*蓝色*/.color3{color:#069;}.color3 a{color:#069;}a.color3{color:#069;}
/*黑色*/.color4{color:#000;}.color4 a{color:#000;}a.color4{color:#000;}.color4 a:hover{color:#f60;}
/*蓝色*/.color5{color:#3b8de3;}.color5 a{color:#007fcb;}a.color5{color:#007fcb;}.color5:hover{color:#f60;}
.cyel{ color:#f08200}
.bgline{background-color:#fff;border-bottom: 1px solid #DEDEDE;}.h12{height:12px;clear:both;overflow:hidden; background:none;}.p15{ padding:15px;}.p10{ padding:10px;}.pl_15{ padding-left:15px;}.pr_15{ padding-right:15px;}.cfa0{color:#fdaa01;}.t_c{ text-align:center;}
.h05{height:5px;clear:both;overflow:hidden;}
.h10{height:10px;clear:both;overflow:hidden;}
.h15{height:15px;clear:both;overflow:hidden;}
.h20{height:20px;clear:both;overflow:hidden;}
.h30{height:30px;clear:both;overflow:hidden;}
.h40{height:40px;clear:both;overflow:hidden;}
.left{float:left; }.right{ float:right; }
.f14{ font-size:14px;}.f12{ font-size:12px;}.f18{ font-size:18px;}
.c00{color:#000;}.c33{color:#333;}.c66{color:#666;}.c99{color:#999;}.c4c{color:#4c4c4c;}
.red{color:#f00;}.green{color:#096;}.blue{color:#3b8de3;}.yellow{color:#f08200;}.black{color:#999;}
.w_auto{width:auto;}

/*公用头部*/
body{background:#fff;}
.main-wrap{margin:0px auto;width:990px;}
/*公用头部*/
.bodyhead{background-color:#fff;height:112px;position:relative;z-index:999;}
.bodyhead .logo{overflow: hidden;padding-top:11px;width:400px;float:left;}
.bodyhead .logo a{background-image:url("../Images/logo.png"); background-position:0 0;background-repeat:no-repeat;display:inline-block; width:399px;height:50px;overflow:hidden;text-indent:-999px; float:left;}
.bodyhead .headr{float:right;width:572px;position:relative;height:72px;z-index:2001;}
.bodyhead .headr .toolkit{float:left;width:390px;padding-top:30px;}
.bodyhead .headr .toolkit a.link{position:relative;border-right:1px solid #ccc;float:left;color:#666; font-size:14px;line-height:16px;height:16px;*line-height:18px;*height:18px;padding:0 12px;vertical-align: middle;white-space: nowrap;display:inline-block;word-break: keep-all;}
.bodyhead .headr .toolkit span{ padding-left:10px; float:left;}
.bodyhead .headr .toolkit i{background-image:url("../Images/img.png");background-repeat:no-repeat;display:inline-block;height:16px;width:18px;float:left;}
.bodyhead .headr .toolkit .to_mapp {background-position:-61px 0px;}
.bodyhead .headr .toolkit .to_weibo {background-position:-86px 0px;}
.bodyhead .headr .toolkit .to_weixin { background-position:-113px 0px;}
.bodyhead .headr .toolkit .to_ched { background-position:-87px -19px;}
.bodyhead .headr .toolkit a.link:hover{color:#ef3e3e;}
.bodyhead .headr .toolkit a.link:hover .to_mapp {background-position:-141px 0px;}
.bodyhead .headr .toolkit a.link:hover .to_weibo {background-position:-167px 0px;}
.bodyhead .headr .toolkit a.link:hover .to_weixin { background-position:-193px 0px;}
.bodyhead .headr .toolkit a.link:hover .to_weixin{background-position:-193px 0px;}
.bodyhead .headr .toolkit a.link:hover .to_ched { background-position:-113px -19px;}

.bodyhead .headr .toolkit span.a_mapp{position:relative;border-right:1px solid #ccc;float:left;color:#666; font-size:14px;line-height:16px;height:16px;*line-height:18px;*height:18px;padding:0 12px;vertical-align: middle;white-space: nowrap;display:inline-block;word-break: keep-all;}
.bodyhead .headr .toolkit span.a_mapp:hover{position: relative; z-index:10003;color:#ef3e3e;}
.bodyhead .headr .toolkit span.a_mapp:hover .to_mapp {background-position:-141px 0px;}
.bodyhead .headr .toolkit span.a_mapp:hover .to_code_box{display: inline-block; position:absolute; left:25px ; top:0;z-index:10001;}

.toolkit .to_code_box {display:none;}
.toolkit .cur,.toolkit a:hover{ position: relative; z-index:10003}
.toolkit .cur .to_code_box,.toolkit a:hover .to_code_box {display: inline-block; position:absolute; left:25px ; top:0;z-index:10001;}
.toolkit .to_code_box .to_code_hd{padding-bottom:5px;width:158px; border:1px solid #ccc; border-radius:8px; background:#fff; text-align:center; margin-top:30px; }
.toolkit .to_code_box .arr{background-image:url("../Images/img.png");position:absolute; left:30px ; top:19px; z-index:10002;background-repeat:no-repeat;display:inline-block;height:16px;width:14px;background-position:-282px 0px;}
.toolkit .to_code_box .code_line{border-bottom:1px dashed #ccc; height:0px; overflow:hidden;}
.toolkit .to_code_box .code_hd{margin:0 auto; padding:5px 0; width:94px;height:135px;}
.toolkit .to_code_box .code_hd p{ line-height:14px;height:16px;*line-height:18px;*height:18px; border-left:2px solid #ef3e3e;overflow:hidden; margin:5px 0;color:#666;}
.bodyhead .headr .handapp{float:right;width:166px;height:70px;background:url("../Images/handapp.gif") no-repeat 0px 15px;}
.bodyhead .headr .handapp a{display:block;overflow:hidden;text-indent:-999px;height:70px;}

.bodymenu{background:#ef3e3e;height:40px;position:relative;z-index:2000;clear:both;}
.bodymenu .mainnav{height:40px;position:relative;width:1000px;margin:0px auto;}
.navmenu{height:40px; font:16px/36px Microsoft YaHei;width:1000px;}
.navmenu li{position: relative;height:40px;float:left; display:inline-block;}
.navmenu li i{ position:absolute; top:8px; left:-2px;}
.navmenu li span{ position:absolute; top:8px; right:-2px;}
.navmenu li span,.navmenu li i{ z-index:2;transition:all 5s ease; display:inline-block; height:26px; width:2px;background:#ef3e3e; display:none;}
.navmenu li a{color:#fff;display:inline-block;height:38px;padding:0 30px; transition:all 0.3s ease; border-top: 2px solid #ef3e3e;}
.navmenu li a:hover,.navmenu li a.cur{ background:#dd3535; color:#fff;border-top: 2px solid #dd3535;}
.navmenu li a.cur span,.navmenu li a.cur i{ display:inline-block;_display:none;}

.bodymenu .navuserbg{height:40px;position:absolute;width:200px;right:0px;top:0px;z-index:999;display:inline-block;}
.bodymenu .navuser{font:14px/36px Microsoft YaHei;z-index:1000;position:absolute;width:200px; display:inline-block;right:0px;top:0px;text-align:right;}
.bodymenu .navuser li{float:right;display:inline-block;position:relative;line-height:40px;padding:0px 6px; background:#dd3535;}
.bodymenu .navuser li.reg{display: inline-block; padding:0 15px;  overflow:hidden;text-align:center;}
.bodymenu .navuser li.go{padding:0px;}
.bodymenu .navuser li.go span{display: inline-block; padding:0 12px;  overflow:hidden; float:left;}
.bodymenu .navuser li.go span a{background:url("../Images/img.png") no-repeat -315px -499px;display: inline-block; padding-left:25px;}

.bodymenu .navuser li.exit_go{padding:0px;}
.bodymenu .navuser li.exit_go span{display: inline-block; padding:0 12px;  overflow:hidden; float:left;}
.bodymenu .navuser li.exit_go span a{background:url("../Images/img.png") no-repeat -315px -499px;display: inline-block; padding-left:25px;}
.bodymenu .navuser li a{color:#fff; cursor:pointer;}
.bodymenu .navuser li a.exit{display: inline-block;padding:0 12px;}


.bodymenu .navuser li.reg:hover,.bodymenu .navuser li.go:hover,.bodymenu .navuser li.exit_go span:hover,.bodymenu .navuser li a.exit:hover,.bodymenu .navuser li.out:hover{color:#fff;background:#cf1c1c;}
.bodymenu .navuser .mytrip{position: relative;z-index:1001;width:100px;text-align:center; padding:0px;}
.navuser .mytrip a.ushow{display:block;line-height:40px; padding-right:12px;}
.navuser .mytrip a.ushow em{background-image:url("../Images/page-bg.png"); background-repeat: no-repeat; background-position: -42px -200px;width:12px;height:12px;overflow:hidden;text-index:-999px;position:absolute;right:13px;top:12px;font-size:10px;display:inline-block;}
.navuser .mytrip a.ushow em{webkit-transition:0.6s linear;transition: transform 0.5s ease 0s;}
.navuser .mytrip .ubox{line-height:24px;display:none; padding:0;width:98px; }
.navuser .mytrip .ubox ul{position:absolute;top:40px;left:0px;background:#fff; }
.navuser .mytrip .ubox ul li{background:#fff; clear:both;line-height:30px;width:98px;  padding:2px 0;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.navuser .mytrip .ubox ul li a{ color:#545454}
.navuser .mytrip .ubox ul li a:hover{color:#dd3535;}
.navuser .cur{}
.bodymenu .navuser .cur{background:#cf1c1c;}
.navuser .cur .ubox{display:block;}
.navuser .cur a.ushow em{background-position: -14px -200px;}
.hasorder{display:block;white-space:nowrap;overflow:hidden;height:20px;width:19px;position:absolute;right:-15px;top:3px;background:url("../Images/d.gif") no-repeat 0px 0px;z-index:9999;text-align:center;color:#fff;line-height:20px;font-size:12px;font-family:Arial;}
.hasorder a{color:#fff;font-weight:bold;}



/*评价打分*/
.c-value-no,.c-value-no em{background:url("../Images/ping.png") 0px -163px repeat;height:11px;width:60px;display:inline-block;font-size:0;line-height:0}
.c-value-no{margin-top:3px;margin-right:5px}.c-value-no em{background-position:0px 0px}.c-value-0 em{width:0}.c-value-0d1 em,.c-value-0d2 em,.c-value-0d3 em,.c-value-0d4 em,.c-value-0d5 em,.c-value-0d6 em,.c-value-0d7 em,.c-value-0d8 em,.c-value-0d9 em{width:5px}.c-value-1 em{width:12px}.c-value-1d1,.c-value-1d2 em,.c-value-1d3 em,.c-value-1d4 em,.c-value-1d5 em,.c-value-1d6 em,.c-value-1d7 em,.c-value-1d8 em,.c-value-1d9 em{width:17px}.c-value-2 em{width:24px}.c-value-2d1 em,.c-value-2d2 em,.c-value-2d3 em,.c-value-2d4 em,.c-value-2d5 em,.c-value-2d6 em,.c-value-2d7 em,.c-value-2d8 em,.c-value-2d9 em{width:29px}.c-value-3 em{width:36px}.c-value-3d1 em,.c-value-3d2 em,.c-value-3d3 em,.c-value-3d4 em,.c-value-3d5 em,.c-value-3d6 em,.c-value-3d7 em,.c-value-3d8 em,.c-value-3d9 em{width:41px}.c-value-4 em{width:48px}.c-value-4d1 em,.c-value-4d2 em,.c-value-4d3 em,em.c-value-4d4,.c-value-4d5 em,.c-value-4d6 em,.c-value-4d7 em,.c-value-4d8 em,.c-value-4d9 em{width:53px}
/**/
.q_pagecontainer{}
.q_pagewrap{}
.q_page{width:1000px;padding-top:20px;margin:0 auto; }
.user-wrap{}
.user-wrap .user-left{float:left;width:186px;font-size:14px;}
.user-wrap .user-right{float:right;width:794px;}

/**photo**/
.b_editimg{width:148px;border:1px solid #e6e6e6;padding:18px;}
.b_editimg .b_edit{position:relative;height:130px;width:130px;border:9px solid #f0f0f0;}
.b_editimg .b_edit .u_img{position:absolute;left:0;bottom:0;height:130px;width:130px;z-index:1;}
.b_editimg .b_edit .edit{position:absolute;height:30px;width:130px;vertical-align:middle;font-size:12px;line-height:30px;text-align:center;z-index:3;}
.b_editimg .b_edit .edit{bottom:0;left:0;color:#fff;cursor:pointer;}
.b_editimg .b_edit .edit a{color:#fff;}
.b_editimg .b_edit .edit .icon{padding-left:14px;background:url(../Images/edit.gif) no-repeat;background-position:0 3px;*background-position:0 2px;}
.b_editimg .b_edit .bg{position:absolute;height:30px;width:100%;z-index:2;background-color:#000;opacity:.2;filter:alpha(opacity=20);-ms-filter:alpha(opacity=20);}
.b_editimg .b_edit .bg{bottom:0;left:0;background-color:#000;opacity:.5;filter:alpha(opacity=50);-ms-filter:alpha(opacity=50);}
.b_editfile{padding:20px 28px;border-bottom:1px solid #d2dfdf;}
.b_editfile .r{float:right;}
.b_editfile .b_edit .icon a{color: #fff;}

.b_reset{ padding:22px 9px 5px 9px;line-height:20px;height:20px;}
.b_reset a{float:left;color:#3b8de3;border-bottom:1px solid #fff;}
.b_reset a:hover{ color:#f08200; border-bottom:1px solid #f08200; }
.b_reset .reset_psw{ float:right;}

/*left*/
.q_nar {border:1px solid #e6e6e6; border-top:0;}
.q_nar li{font-size:14px;padding-bottom:10px;}
.q_nar li.last{border-bottom:none;}
.q_nar li a{display:block;padding:13px 0px 14px 67px;height:18px;line-height:18px;overflow:hidden;color:#4c4c4c; background:#edf0f2; position:relative;}
.q_nar li a:hover{color:#0069ca;}
.q_nar li a span{float:right;display:inline;margin-top:3px;}
.q_nar dl{padding:5px 0 5px 0;font-weight:normal;display:none;}
.q_nar dl dd a{padding:8px 10px 8px 67px;border-bottom:none; color:#808080;background:#fff}
.q_nar dl a:hover{color:#3b8de3;}
.q_nar .q_nar_ico,.q_nar .q_nar_arrow{background:url(../Images/ico_usercenter_v3.png) no-repeat scroll 0 0;display:inline-block;vertical-align:middle; position:absolute; }
.q_nar .q_nar_ico{top:15px; left:25px;width:17px;height:16px;margin:-2px 10px 0 0;}
.q_nar .q_nar_arrow{top:13px; right:20px;background-position:0px -196px;width:9px;height:10px;margin-top:4px;}
.q_nar .q_nar_info .q_nar_ico{background-position:0 -25px;}
.q_nar .q_nar_order .q_nar_ico {background-position: 0 1px;}
.q_nar .q_nar_active .q_nar_ico {background-position: 0 -50px;}
.q_nar .q_nar_wallet .q_nar_ico {background-position: 0 -50px;}
.q_nar  .active{color: #0069CA;}
.q_nar .q_li_block dl{display:block;}
.q_nar .q_li_block .q_nar_arrow{background-position:0px -175px;}
.user-qimg{ padding:10px 0}
.i_tixian{background:url(../Images/i_tixian.png) no-repeat scroll 5px 2px;display:inline-block;vertical-align:middle; position:absolute;width:40px;height:20px; }

/*footer*/
.footer {clear: both; padding-top:10px}
.footer-container {text-align: center;background:#ef3e3e;height:40px;}
.footer-container .copyrights{line-height:40px;color: #fff; font-size:14px;width: 1000px;margin: 0 auto;overflow: hidden;}
.footer-container .copyrights a{ padding:0 10px;}



/*公用下拉选择框box*/
.yselector{cursor:pointer;background-color:#fff;width:65px;float:left;margin-right:10px;position:relative;font-family: Tahoma,SimSun,Helvetica,sans-serif;color:#555; z-index:1;}
.yselector_arraw{width:20px;border-left:1px dotted #bababa; position:absolute; top:8px; right:3px;margin-top:0;display:inline;height:15px;overflow:hidden; z-index:-1;}
.yselector_arraw b{border-width:4px;border-style:solid;border-color:#555 #fff #fff #fff;width:0;height:0;font-size:0;line-height:0;display:block;margin:7px 0 0 6px;}
.yselector_box{cursor:pointer;border:1px solid #bababa;padding:5px 20px 5px 5px;line-height:18px;height:18px;overflow:hidden;}
.yselector_input{ background:none;cursor:pointer;display:block;height:18px;width:auto;line-height:18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:0px 2px;border:0px;font-family: Tahoma,SimSun,Helvetica,sans-serif;color:#666;font-size:12px;}
* html .yselector_arraw{width:40px;border-width:2px;height:30px;zoom:.5;}
* html .yselector_arraw b{border-width:8px;margin-left:12px;margin-top:14px;}
@media screen and(-webkit-min-device-pixel-ratio:0){.yselector_input:focus{outline-width:1px;outline-style:dotted;outline-color:#bababa;}}
.yselector_suggest{overflow-y:auto;overflow-x:hidden;z-index:1000;position:absolute; top: 31px; left:0px;width:63px;border:1px solid #bababa;background-color:#fff;padding:0!important;}
.yselector_suggest ul{width:auto;height:auto;margin:0;padding:0!important;border:0;max-height: 235px;}
.yselector_suggest li{ background-color:#fff;color:#555;display:block;line-height:30px; font-size:12px;font-weight:normal;height:30px;padding:0 5px 0 4px!important;outline:0;text-overflow:ellipsis;overflow:hidden;}
.yselector_suggest li:hover,.yselector_suggest li.hover{color:#fff;background-color:#3b8de3;}
.yselector_suggest li{overflow:hidden;white-space:nowrap;padding:0;float:none!important;clear:both;width:100%;display:block;zoom:1;}a:hover{color:#f60;}
.search_table .yselector{width:125px;}
.search_table .yselector_box{padding:6px 20px 6px 5px;}
.search_table .yselector_suggest{top: 31px; left:0px;width:123px;}
.idcardtypeselect .yselector{width:135px;}
.idcardtypeselect .yselector_box{padding:3px 20px 4px 0px;}
.idcardtypeselect .yselector_suggest{top: 30px; left:0px;width:133px;}
.wtselect .yselector{width:85px;}
.wtselect .yselector_box{padding:3px 20px 5px 5px;}
.wtselect .yselector_suggest{top: 29px; left:0px;width:83px;}

.q_pagecontainer .pub-form { padding:10px 20px;}
.q_pagecontainer .h28{ height:28px; line-height:28px;}
.q_pagecontainer .pub-form .fm-item .fm-label,.q_pagecontainer .pub-form .fm-li .fm-label{height:28px; line-height:28px;}
.q_pagecontainer .pub-form .fm-item .i-input,.q_pagecontainer .pub-form .fm-li .i-input{font-size:14px;height:20px; line-height:20px; padding-top:4px;padding-bottom:4px; vertical-align:middle;border-radius:1px;border: 1px solid #ccc;box-shadow: 1px 1px 2px #eee inset;outline: none;}
.q_pagecontainer .pub-form .i-input:focus{border:1px solid #95cae8;box-shadow:1px 2px 3px #dceef8 inset;}
.q_pagecontainer .pub-form  .w200{width:210px;}
.q_pagecontainer .pub-form  .w240{width:250px;}