.layout:after,.main-wrap:after{content:'\20';display:block;height:0;clear:both;}.layout,.main-wrap{zoom:1;}
html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true);}(this));}
button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;padding:0;}
img,object,button,input,select{vertical-align:middle}

/*公用下拉选择框box*/
.fn_SelectBox-wrapper{position:absolute;background-color:#fff;border:1px solid #ccc;text-align:right;overflow:auto;margin-top:-1px;}
.fn_SelectBox-wrapper ul{list-style-type:none;margin:0px;padding:0px;background-color:#fefefe;}
.fn_SelectBox-wrapper ul li{list-style-type:none;display:block;margin:0;padding:2px;cursor:pointer;line-height:24px;color:#666;}
.fn_SelectBox-wrapper ul li.selected{background-color:#EAF2FB;color:#545454;}
.fn_SelectBox-wrapper ul li.current{background-color:#fcf5c1;color:#bf0000;}
.fn_SelectBox-input{padding-right:25px;width:180px;display:block;text-align:left;padding-left:5px;background:url('../Images/ico.png') no-repeat right -458px;height:26px;line-height:26px;cursor:pointer;border:1px solid #ccc;}
.fn_SelectBox-input:hover{border:1px solid #aaa;background-color:#fefefe;outline:0;-webkit-box-shadow:0 0 5px #8cddff!important;box-shadow:0 0 3px #eeecec;}



/*--------------ico---------------------
.ico-true{background:url('../Images/passport.png') no-repeat -5px -260px;height:70px;display:block;width:70px;}
.ico-error{background:url('../Images/passport.png') no-repeat -5px -359px;height:70px;display:block;width:70px;}*/
/*--------------公用表单---------------------*/
.pub-form .t-bold14{padding:0 2px;height:28px;line-height:28px;font-weight:bold;color:#545454;font-size:14px;font-family:Arial;}
.pub-form .t-bold16{padding:0 2px;height:28px;line-height:28px;font-weight:bold;color:#545454;font-size:16px;}
.pub-form .i-input{color:#666;border:1px solid #CCC;}
.pub-form .i-longinput{width:380px;padding:0 2px;color:#666;border:1px solid #CCC;}
.pub-form input.i-error{border:1px solid #dd0000;outline:0;-webkit-box-shadow:0 0 5px #ffbfbf!important;box-shadow:0 0 3px #ffbfbf;color:#dd0000;}/*输入框数据有误*/
.pub-form input.i-focus{border:1px solid #00a3e4;outline:0;-webkit-box-shadow:0 0 5px #8cddff!important;box-shadow:0 0 3px #8cddff;color:#545454;}/*输入框获得焦点*/
/*.pub-form .i-input:hover,.pub-form .i-longinput:hover{border:1px solid #00a3e4;outline:0;-webkit-box-shadow:0 0 5px #8cddff!important;box-shadow:0 0 3px #8cddff;}*/
/*style1*/
.msg-b-error,.msg-b-stop{background-color:#FFF2F2;border:1px solid #FF8080;color:#dd0000;}
.msg-box{width:300px;display:inline-block;zoom:1;*display:inline;vertical-align:top;/*position:relative;*/}
.msg-box .msg-weak label{display:none;}
.msg-box label.i-error{color:#f00;}
.msg-box .msg-weak i{display:none;float:left;margin-left:-20px;*margin-left:-18px;width:16px;height:17px;background:url(../Images/ico.png) no-repeat 0 -160px;}
.msg-box .msg-ok i{background-position:0 -200px;display:inline;}/*正确*/
.msg-box .msg-error i{background-position:0 0;display:inline;}/*有误*/
.msg-box .msg-stop i{background-position:0 -40px;display:inline;}/*暂停*/
.msg-box .msg-question i{background-position:0 -80px;display:inline;}/*有疑问*/
.msg-box .msg-notice i{background-position:0 -240px;display:inline;}/*消息*/
.msg-box .msg-attention i{background-position:0 -120px;display:inline;}/*感叹号*/
.msg-box .msg-attention .valid{display:inline;}
.msg-box .msg-tips i{background-position:0 -160px;display:inline;}/*提示说明*/
.msg-box .msg-tips .valid{display:inline;}
.msg-box .msg-b-ok i{background-position:100% -200px;display:inline;}
.msg-box .msg-b-error i{background-position:100% 0;display:inline;}
/*.msg-b-weak{line-height:18px;color:#666;position:absolute;}
.msg-b-stop i{background-position:100% -40px;}
.msg-b-question i{background-position:100% -80px;}
.msg-b-notice i{background-position:100% -240px;}*/
.pub-form .fm-item{padding-left:100px;padding-bottom:20px;vertical-align:middle;}
.pub-form .fm-item .fm-label{display:inline;float:left;height:28px;line-height:28px;text-align:right;width:100px;margin-left:-108px;color:#545454;}
.fm-label{text-align:right;width:92px;float:left;height:28px;line-height:28px;margin-right:8px;}
.pub-form .fm-item .i-input{height:32px;line-height:32px;padding:0px 2px;}
.pub-form .fm-item .i-longinput{height:32px;line-height:32px;padding:0 2px;}
.pub-form .fm-item .msg-box .msg-weak{padding:8px 5px 5px 30px;font-size:12px;line-height:16px;background:none;border:none;color:#797979;}
.pub-form .fm-item .radio{display:inline;float:left;height:32px;line-height:32px;color:#545454;}
.pub-form .fm-item .radio input.i-error{border:0px solid inherit;}
/*style2*/
.msg-info .msg-error{background-color:#FFF2F2;border:1px solid #FF8080;color:#dd0000;}
.msg-info .msg-weak{padding:5px 5px 5px 0px;font-size:12px;line-height:16px;background:none;border:none;color:#797979;}
.msg-info .msg-weak label{display:inline;}
.msg-info .msg-error label{color:#f00;}
.msg-info .msg-weak i{display:none;float:left;margin-left:-20px;*margin-left:-18px;width:16px;height:18px;background:url(../Images/ico.png) no-repeat 0 -1000px;}
.msg-info .msg-ok,.msg-info .msg-error,.msg-info .msg-stop,msg-info .msg-question,.msg-info .msg-notice,.msg-info .msg-attention{padding-left:20px;}
.msg-info .msg-ok i{background-position:0 -200px;display:inline;}/*正确*/
.msg-info .msg-error i{background-position:0 0;display:inline;}/*有误*/
.msg-info .msg-stop i{background-position:0 -40px;display:inline;}/*暂停*/
.msg-info .msg-question i{background-position:0 -80px;display:inline;}/*有疑问*/
.msg-info .msg-notice i{background-position:0 -240px;display:inline;}/*消息*/
.msg-info .msg-attention i{background-position:0 -120px;display:inline;}/*感叹号*/
.msg-info .msg-attention .valid{display:inline;}
.msg-info .msg-tips i{background-position:0 -160px;}/*提示说明*/
.msg-info .msg-tips .valid{display:inline;}
.pub-form .fm-li{padding-left:100px;padding-bottom:20px;vertical-align:middle;}
.pub-form .fm-li .fm-label{display:inline;float:left;height:28px;line-height:28px;text-align:right;width:100px;margin-left:-108px;color:#545454;}
.pub-form .fm-li .i-input{padding:0 2px;height:32px;line-height:32px;}
.pub-form .fm-li .i-longinput{padding:0 2px;height:32px;line-height:30px;}
.pub-form .fm-li .msg-info{vertical-align:top;height:28px;}
.pub-form .w300{width:300px;/*display:inline-block;*/}
.pub-form .w200{width:200px;}
.pub-form .w360{width:360px;}
/*容器之间控制底边高度间距*/
.pub-form .pbot-0{padding-bottom:0px;}
.pub-form .pbot-5{padding-bottom:5px;}
.pub-form .pbot-10{padding-bottom:10px;}
.pub-form .pbot-15{padding-bottom:15px;}
.pub-form .pbot-20{padding-bottom:20px;}
.pub-form .pbot-30{padding-bottom:30px;}
/*表单标签控制间距*/
.pub-form .ml05{margin-left:5px;}
.pub-form .ml10{margin-left:10px;}
/*表单高度控制*/
.password-box .option-h60{height:60px;clear:both;overflow:hidden;}
.password-box .option-h40{height:40px;clear:both;overflow:hidden;}
.password-box .option-h20{height:20px;clear:both;overflow:hidden;}
.password-box .option-h10{height:20px;clear:both;overflow:hidden;}
/*验证码*/
.pub-form .fm-valicode{padding-left:100px;padding-bottom:15px;vertical-align:middle;}
.pub-form .fm-valicode .fm-label{display:inline;float:left;width:100px;margin-left:-110px;margin-top:5px;height:28px;line-height:28px;text-align:right;padding-right:0px;}
.pub-form .fm-valicode .i-code{width:160px;padding:4px 3px;line-height:22px;height:22px;color:#999;border:1px solid #ddd;}
.pub-form .fm-valicode .regimg{bottom:0;margin-left:3px;}
.pub-form .fm-valicode a{margin-left:3px;}


/*公共按钮*/
.p_btn{ text-align:center; cursor:pointer; font-size:15px; letter-spacing:1px; background:url(../Images/login.png) no-repeat 0 0px; width:105px;height:30px; line-height:30px; display:inline-block; border: none; margin-right:10px;}
.p_btn,.p_btn:hover{color:#fff;}
.b_105{background-position:0 -417px;}
.b_105:hover{background-position:0 -448px;}
.b_84{width:84px;background-position:-116px -417px;}
.b_84:hover{width:84px;background-position:-116px -448px;}
.b_111{width:111px;background-position:0px -324px;}
.b_111:hover{width:111px;background-position:0px -355px;}
.b_90{width:90px;background-position:-116px -324px;}
.b_90:hover{width:90px;background-position:-116px -355px;}
.g_111{width:111px;background-position:0 -386px; color:#666;}
.g_111:hover{ color:#545454;background-position:-210px -324px;}
.g_90{width:90px;background-position:-116px -386px; color:#666;}
.g_90:hover{ color:#545454;background-position:-210px -355px;}
.y_90{width:90px;background-position:-210px -386px;}
.y_90:hover{ background-position:-210px -417px;}


.w240{ width:240px;}
.w80{ width:80px;}
.dinbl{ display:inline-block;}
.dinbl .code{ display:inline-block; width:120px; height:50px; margin:0 10px;}
.dinbl .kbq_txt{ cursor: pointer;line-height:50px; font-size:12px; color:#888;}
.dinbl .kbq_txt span{color:#3b8de3;}

/*密码强度*/
.qiangdu {padding-top:2px;}
.qiangdu SPAN.strong {TEXT-ALIGN: center; LINE-HEIGHT: 16px;HEIGHT: 16px; WIDTH: 78px;  DISPLAY: inline-block; MARGIN-RIGHT: 6px;color:#fff;background:#ccc;}
.qiangdu SPAN.strong1 {background: #ff6600}
.qiangdu SPAN.strong2 {background: #ffd099}
.qiangdu SPAN.strong3 {background: #ffd099;MARGIN-RIGHT: 0px;}

/*验证码按钮*/
.hqyzm_btn{ text-align:center;background:url(../Images/login.png) no-repeat 0 -209px;width:115px;height:25px;line-height:25px; display:inline-block; margin-left:10px;margin-top:2px;}
.hqyzm_btn:hover{ background-position: -125px -209px; color:#fff;}
.btnagree { cursor:pointer;text-indent:-999em;background:url(../Images/login.png)  no-repeat 0px -242px; border:none; width:270px; height:36px; display:inline-block;}
.btnagree:hover{ background-position: 0px -282px;}

