*,body{
	padding: 0px;
	margin: 0px;
}
.cl{
	clear: both;
}
.father{
	height: 1000px;
	border:1px black solid;
	background: url("adver-01.jpg") 0px 0px no-repeat;
}
.father .news1{
	margin-top: 72px;
	border:0px black solid;
}
.father .news1 img{
	display: block;
	float: left;
	margin-right:20px;
}
.father .news1 p a img{
	padding-top: 13px;
}
.father .news1 p{
	width: 620px;
	font-size: 14px;
	text-indent: 20px;
	margin-left:100px
	
}
.father .news2{
	padding: 5px;
	z-index: 0;
	margin-top: 15px;
	border:1px black solid;
	width: 580px;
	position: relative;
	
}
.father .news2 img{
	display: block;
	float: left;
	margin-right:20px;
}
.father .news2 p a img{
	padding-top: 13px;
}
.father .news2 p{
	font-size: 14px;
	text-indent: 20px;
	margin-left:100px

	
}
.father .news3{
	padding: 5px;
	background-color: #f8f8f8;
	width: 458px;
	position: relative;
	right: -200px;
	bottom: 20px;
	border:1px black solid;
	z-index: 2;
}
.father .news3 img{
	display: block;
	float: left;
	margin-right:20px;
}
.father .news3 p{
	font-size: 14px;
	text-indent: 20px;
	margin-left:100px

	
}
