<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.mapper.FwlxMapper">
  <resultMap id="BaseResultMap" type="com.dy.entity.Fwlx">
    <id column="lxid" jdbcType="INTEGER" property="lxid" />
    <result column="fwlx" jdbcType="VARCHAR" property="fwlx" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    lxid, fwlx
  </sql>
  <select id="selectByExample" parameterType="com.dy.entity.FwlxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fwlx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fwlx
    where lxid = #{lxid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fwlx
    where lxid = #{lxid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dy.entity.FwlxExample">
    delete from fwlx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dy.entity.Fwlx">
    insert into fwlx (lxid, fwlx)
    values (#{lxid,jdbcType=INTEGER}, #{fwlx,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dy.entity.Fwlx">
    insert into fwlx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lxid != null">
        lxid,
      </if>
      <if test="fwlx != null">
        fwlx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lxid != null">
        #{lxid,jdbcType=INTEGER},
      </if>
      <if test="fwlx != null">
        #{fwlx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dy.entity.FwlxExample" resultType="java.lang.Long">
    select count(*) from fwlx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fwlx
    <set>
      <if test="record.lxid != null">
        lxid = #{record.lxid,jdbcType=INTEGER},
      </if>
      <if test="record.fwlx != null">
        fwlx = #{record.fwlx,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fwlx
    set lxid = #{record.lxid,jdbcType=INTEGER},
      fwlx = #{record.fwlx,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dy.entity.Fwlx">
    update fwlx
    <set>
      <if test="fwlx != null">
        fwlx = #{fwlx,jdbcType=VARCHAR},
      </if>
    </set>
    where lxid = #{lxid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dy.entity.Fwlx">
    update fwlx
    set fwlx = #{fwlx,jdbcType=VARCHAR}
    where lxid = #{lxid,jdbcType=INTEGER}
  </update>
</mapper>