<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.mapper.FwqxMapper">
  <resultMap id="BaseResultMap" type="com.dy.entity.Fwqx">
    <id column="qxid" jdbcType="INTEGER" property="qxid" />
    <result column="qx" jdbcType="VARCHAR" property="qx" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    qxid, qx
  </sql>
  <select id="selectByExample" parameterType="com.dy.entity.FwqxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fwqx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fwqx
    where qxid = #{qxid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fwqx
    where qxid = #{qxid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dy.entity.FwqxExample">
    delete from fwqx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dy.entity.Fwqx">
    insert into fwqx (qxid, qx)
    values (#{qxid,jdbcType=INTEGER}, #{qx,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dy.entity.Fwqx">
    insert into fwqx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qxid != null">
        qxid,
      </if>
      <if test="qx != null">
        qx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qxid != null">
        #{qxid,jdbcType=INTEGER},
      </if>
      <if test="qx != null">
        #{qx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dy.entity.FwqxExample" resultType="java.lang.Long">
    select count(*) from fwqx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fwqx
    <set>
      <if test="record.qxid != null">
        qxid = #{record.qxid,jdbcType=INTEGER},
      </if>
      <if test="record.qx != null">
        qx = #{record.qx,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fwqx
    set qxid = #{record.qxid,jdbcType=INTEGER},
      qx = #{record.qx,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dy.entity.Fwqx">
    update fwqx
    <set>
      <if test="qx != null">
        qx = #{qx,jdbcType=VARCHAR},
      </if>
    </set>
    where qxid = #{qxid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dy.entity.Fwqx">
    update fwqx
    set qx = #{qx,jdbcType=VARCHAR}
    where qxid = #{qxid,jdbcType=INTEGER}
  </update>
</mapper>