.layout::after {
	height: 0px; clear: both; display: block; content: "\20";
}
.main-wrap::after {
	height: 0px; clear: both; display: block; content: "\20";
}
.layout {
	-ms-zoom: 1;
}
.main-wrap {
	-ms-zoom: 1;
}
html {
	
}
img {
	vertical-align: middle;
}
object {
	vertical-align: middle;
}
button {
	vertical-align: middle;
}
input {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
.fn_SelectBox-wrapper {
	border: 1px solid rgb(204, 204, 204); text-align: right; overflow: auto; margin-top: -1px; position: absolute; background-color: rgb(255, 255, 255);
}
.fn_SelectBox-wrapper ul {
	margin: 0px; padding: 0px; list-style-type: none; background-color: rgb(254, 254, 254);
}
.fn_SelectBox-wrapper ul li {
	margin: 0px; padding: 2px; color: rgb(102, 102, 102); line-height: 24px; display: block; list-style-type: none; cursor: pointer;
}
.fn_SelectBox-wrapper ul li.selected {
	color: rgb(84, 84, 84); background-color: rgb(234, 242, 251);
}
.fn_SelectBox-wrapper ul li.current {
	color: rgb(191, 0, 0); background-color: rgb(252, 245, 193);
}
.fn_SelectBox-input {
	background: url("img/ico.png") no-repeat right -458px; border: 1px solid rgb(204, 204, 204); width: 180px; height: 26px; text-align: left; line-height: 26px; padding-right: 25px; padding-left: 5px; display: block; cursor: pointer;
}
.fn_SelectBox-input:hover {
	outline: 0px; border: 1px solid rgb(170, 170, 170); box-shadow: 0px 0px 3px #eeecec; background-color: rgb(254, 254, 254); -webkit-box-shadow: 0 0 5px #8cddff;
}
.pub-form .t-bold14 {
	padding: 0px 2px; height: 28px; color: rgb(84, 84, 84); line-height: 28px; font-family: Arial; font-size: 14px; font-weight: bold;
}
.pub-form .t-bold16 {
	padding: 0px 2px; height: 28px; color: rgb(84, 84, 84); line-height: 28px; font-size: 16px; font-weight: bold;
}
.pub-form .i-input {
	border: 1px solid rgb(204, 204, 204); color: rgb(102, 102, 102);
}
.pub-form .i-longinput {
	padding: 0px 2px; border: 1px solid rgb(204, 204, 204); width: 380px; color: rgb(102, 102, 102);
}
.pub-form input.i-error {
	outline: 0px; border: 1px solid rgb(221, 0, 0); color: rgb(221, 0, 0); box-shadow: 0px 0px 3px #ffbfbf; -webkit-box-shadow: 0 0 5px #ffbfbf;
}
.pub-form input.i-focus {
	outline: 0px; border: 1px solid rgb(0, 163, 228); color: rgb(84, 84, 84); box-shadow: 0px 0px 3px #8cddff; -webkit-box-shadow: 0 0 5px #8cddff;
}
.msg-b-error {
	border: 1px solid rgb(255, 128, 128); color: rgb(221, 0, 0); background-color: rgb(255, 242, 242);
}
.msg-b-stop {
	border: 1px solid rgb(255, 128, 128); color: rgb(221, 0, 0); background-color: rgb(255, 242, 242);
}
.msg-box {
	width: 300px; vertical-align: top; display: inline-block; -ms-zoom: 1;
}
.msg-box .msg-weak label {
	display: none;
}
.msg-box label.i-error {
	color: rgb(255, 0, 0);
}
.msg-box .msg-weak i {
	background: url("img/ico.png") no-repeat 0px -160px; width: 16px; height: 17px; margin-left: -20px; float: left; display: none;
}
.msg-box .msg-ok i {
	background-position: 0px -200px; display: inline;
}
.msg-box .msg-error i {
	display: inline;
}
.msg-box .msg-stop i {
	background-position: 0px -40px; display: inline;
}
.msg-box .msg-question i {
	background-position: 0px -80px; display: inline;
}
.msg-box .msg-notice i {
	background-position: 0px -240px; display: inline;
}
.msg-box .msg-attention i {
	background-position: 0px -120px; display: inline;
}
.msg-box .msg-attention .valid {
	display: inline;
}
.msg-box .msg-tips i {
	background-position: 0px -160px; display: inline;
}
.msg-box .msg-tips .valid {
	display: inline;
}
.msg-box .msg-b-ok i {
	background-position: 100% -200px; display: inline;
}
.msg-box .msg-b-error i {
	background-position: 100% 0px; display: inline;
}
.pub-form .fm-item {
	padding-bottom: 20px; padding-left: 100px; vertical-align: middle;
}
.pub-form .fm-item .fm-label {
	width: 100px; height: 28px; text-align: right; color: rgb(84, 84, 84); line-height: 28px; margin-left: -108px; float: left; display: inline;
}
.fm-label {
	width: 92px; height: 28px; text-align: right; line-height: 28px; margin-right: 8px; float: left;
}
.pub-form .fm-item .i-input {
	padding: 0px 2px; height: 32px; line-height: 32px;
}
.pub-form .fm-item .i-longinput {
	padding: 0px 2px; height: 32px; line-height: 32px;
}
.pub-form .fm-item .msg-box .msg-weak {
	padding: 8px 5px 5px 30px; border: currentColor; color: rgb(121, 121, 121); line-height: 16px; font-size: 12px;
}
.pub-form .fm-item .radio {
	height: 32px; color: rgb(84, 84, 84); line-height: 32px; float: left; display: inline;
}
.pub-form .fm-item .radio input.i-error {
	
}
.msg-info .msg-error {
	border: 1px solid rgb(255, 128, 128); color: rgb(221, 0, 0); background-color: rgb(255, 242, 242);
}
.msg-info .msg-weak {
	padding: 5px 5px 5px 0px; border: currentColor; color: rgb(121, 121, 121); line-height: 16px; font-size: 12px;
}
.msg-info .msg-weak label {
	display: inline;
}
.msg-info .msg-error label {
	color: rgb(255, 0, 0);
}
.msg-info .msg-weak i {
	background: url("img/ico.png") no-repeat 0px -1000px; width: 16px; height: 18px; margin-left: -20px; float: left; display: none;
}
.msg-info .msg-ok {
	padding-left: 20px;
}
.msg-info .msg-error {
	padding-left: 20px;
}
.msg-info .msg-stop {
	padding-left: 20px;
}
msg-info .msg-question {
	padding-left: 20px;
}
.msg-info .msg-notice {
	padding-left: 20px;
}
.msg-info .msg-attention {
	padding-left: 20px;
}
.msg-info .msg-ok i {
	background-position: 0px -200px; display: inline;
}
.msg-info .msg-error i {
	display: inline;
}
.msg-info .msg-stop i {
	background-position: 0px -40px; display: inline;
}
.msg-info .msg-question i {
	background-position: 0px -80px; display: inline;
}
.msg-info .msg-notice i {
	background-position: 0px -240px; display: inline;
}
.msg-info .msg-attention i {
	background-position: 0px -120px; display: inline;
}
.msg-info .msg-attention .valid {
	display: inline;
}
.msg-info .msg-tips i {
	background-position: 0px -160px;
}
.msg-info .msg-tips .valid {
	display: inline;
}
.pub-form .fm-li {
	padding-bottom: 20px; padding-left: 100px; vertical-align: middle;
}
.pub-form .fm-li .fm-label {
	width: 100px; height: 28px; text-align: right; color: rgb(84, 84, 84); line-height: 28px; margin-left: -108px; float: left; display: inline;
}
.pub-form .fm-li .i-input {
	padding: 0px 2px; height: 32px; line-height: 32px;
}
.pub-form .fm-li .i-longinput {
	padding: 0px 2px; height: 32px; line-height: 30px;
}
.pub-form .fm-li .msg-info {
	height: 28px; vertical-align: top;
}
.pub-form .w300 {
	width: 300px;
}
.pub-form .w200 {
	width: 200px;
}
.pub-form .w360 {
	width: 360px;
}
.pub-form .pbot-0 {
	padding-bottom: 0px;
}
.pub-form .pbot-5 {
	padding-bottom: 5px;
}
.pub-form .pbot-10 {
	padding-bottom: 10px;
}
.pub-form .pbot-15 {
	padding-bottom: 15px;
}
.pub-form .pbot-20 {
	padding-bottom: 20px;
}
.pub-form .pbot-30 {
	padding-bottom: 30px;
}
.pub-form .ml05 {
	margin-left: 5px;
}
.pub-form .ml10 {
	margin-left: 10px;
}
.password-box .option-h60 {
	height: 60px; overflow: hidden; clear: both;
}
.password-box .option-h40 {
	height: 40px; overflow: hidden; clear: both;
}
.password-box .option-h20 {
	height: 20px; overflow: hidden; clear: both;
}
.password-box .option-h10 {
	height: 20px; overflow: hidden; clear: both;
}
.pub-form .fm-valicode {
	padding-bottom: 15px; padding-left: 100px; vertical-align: middle;
}
.pub-form .fm-valicode .fm-label {
	width: 100px; height: 28px; text-align: right; line-height: 28px; padding-right: 0px; margin-top: 5px; margin-left: -110px; float: left; display: inline;
}
.pub-form .fm-valicode .i-code {
	padding: 4px 3px; border: 1px solid rgb(221, 221, 221); width: 160px; height: 22px; color: rgb(153, 153, 153); line-height: 22px;
}
.pub-form .fm-valicode .regimg {
	bottom: 0px; margin-left: 3px;
}
.pub-form .fm-valicode a {
	margin-left: 3px;
}
.p_btn {
	background: url("img/login.png") no-repeat 0px 0px; border: currentColor; width: 105px; height: 30px; text-align: center; line-height: 30px; letter-spacing: 1px; font-size: 15px; margin-right: 10px; display: inline-block; cursor: pointer;
}
.p_btn {
	color: rgb(255, 255, 255);
}
.p_btn:hover {
	color: rgb(255, 255, 255);
}
.b_105 {
	background-position: 0px -417px;
}
.b_105:hover {
	background-position: 0px -448px;
}
.b_84 {
	background-position: -116px -417px; width: 84px;
}
.b_84:hover {
	background-position: -116px -448px; width: 84px;
}
.b_111 {
	background-position: 0px -324px; width: 111px;
}
.b_111:hover {
	background-position: 0px -355px; width: 111px;
}
.b_90 {
	background-position: -116px -324px; width: 90px;
}
.b_90:hover {
	background-position: -116px -355px; width: 90px;
}
.g_111 {
	background-position: 0px -386px; width: 111px; color: rgb(102, 102, 102);
}
.g_111:hover {
	background-position: -210px -324px; color: rgb(84, 84, 84);
}
.g_90 {
	background-position: -116px -386px; width: 90px; color: rgb(102, 102, 102);
}
.g_90:hover {
	background-position: -210px -355px; color: rgb(84, 84, 84);
}
.y_90 {
	background-position: -210px -386px; width: 90px;
}
.y_90:hover {
	background-position: -210px -417px;
}
.w240 {
	width: 240px;
}
.w80 {
	width: 80px;
}
.dinbl {
	display: inline-block;
}
.dinbl .code {
	margin: 0px 10px; width: 120px; height: 50px; display: inline-block;
}
.dinbl .kbq_txt {
	color: rgb(136, 136, 136); line-height: 50px; font-size: 12px; cursor: pointer;
}
.dinbl .kbq_txt span {
	color: rgb(59, 141, 227);
}
.qiangdu {
	padding-top: 2px;
}
.qiangdu span.strong {
	background: rgb(204, 204, 204); width: 78px; height: 16px; text-align: center; color: rgb(255, 255, 255); line-height: 16px; margin-right: 6px; display: inline-block;
}
.qiangdu span.strong1 {
	background: rgb(255, 102, 0);
}
.qiangdu span.strong2 {
	background: rgb(255, 208, 153);
}
.qiangdu span.strong3 {
	background: rgb(255, 208, 153); margin-right: 0px;
}
.hqyzm_btn {
	background: url("img/login.png") no-repeat 0px -209px; width: 115px; height: 25px; text-align: center; line-height: 25px; margin-top: 2px; margin-left: 10px; display: inline-block;
}
.hqyzm_btn:hover {
	background-position: -125px -209px; color: rgb(255, 255, 255);
}
.btnagree {
	background: url("img/login.png") no-repeat 0px -242px; border: currentColor; width: 270px; height: 36px; text-indent: -999em; display: inline-block; cursor: pointer;
}
.btnagree:hover {
	background-position: 0px -282px;
}
