<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jsp-second-next</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>do-add</servlet-name>
  	<jsp-file>/WEB-INF/jsp/do-add.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>do-add</servlet-name>
  	<url-pattern>/do-add</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>add-succuss</servlet-name>
  	<jsp-file>/WEB-INF/jsp/add-succuss.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>add-succuss</servlet-name>
  	<url-pattern>/add-succuss</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>to-delete</servlet-name>
  	<jsp-file>/WEB-INF/jsp/to-delete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>to-delete</servlet-name>
  	<url-pattern>/to-delete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>do-delete</servlet-name>
  	<jsp-file>/WEB-INF/jsp/do-delete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>do-delete</servlet-name>
  	<url-pattern>/do-delete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>delete-succuss</servlet-name>
  	<jsp-file>/WEB-INF/jsp/delete-succuss.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>delete-succuss</servlet-name>
  	<url-pattern>/delete-succuss</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>to-update</servlet-name>
  	<jsp-file>/WEB-INF/jsp/to-update.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>to-update</servlet-name>
  	<url-pattern>/to-update</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>do-update</servlet-name>
  	<jsp-file>/WEB-INF/jsp/do-update.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>do-update</servlet-name>
  	<url-pattern>/do-update</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>update-succuss</servlet-name>
  	<jsp-file>/WEB-INF/jsp/update-succuss.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>update-succuss</servlet-name>
  	<url-pattern>/update-succuss</url-pattern>
  </servlet-mapping>
</web-app>