<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.mapper.FwxxMapper">
  <resultMap id="BaseResultMap" type="com.dy.entity.Fwxx">
    <id column="fwid" jdbcType="INTEGER" property="fwid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="jdid" jdbcType="INTEGER" property="jdid" />
    <result column="qxid" jdbcType="INTEGER" property="qxid" />
    <result column="lxid" jdbcType="INTEGER" property="lxid" />
    <result column="shi" jdbcType="INTEGER" property="shi" />
    <result column="ting" jdbcType="INTEGER" property="ting" />
    <result column="fwxx" jdbcType="VARCHAR" property="fwxx" />
    <result column="zj" jdbcType="DECIMAL" property="zj" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="telephone" jdbcType="CHAR" property="telephone" />
    <result column="concat" jdbcType="CHAR" property="concat" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fwid, uid, jdid, qxid, lxid, shi, ting, fwxx, zj, title, date, telephone, concat
  </sql>
  <select id="selectByExample" parameterType="com.dy.entity.FwxxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fwxx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fwxx
    where fwid = #{fwid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fwxx
    where fwid = #{fwid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dy.entity.FwxxExample">
    delete from fwxx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dy.entity.Fwxx">
    insert into fwxx (fwid, uid, jdid, 
      qxid, lxid, shi, ting, 
      fwxx, zj, title, date, 
      telephone, concat)
    values (#{fwid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{jdid,jdbcType=INTEGER}, 
      #{qxid,jdbcType=INTEGER}, #{lxid,jdbcType=INTEGER}, #{shi,jdbcType=INTEGER}, #{ting,jdbcType=INTEGER}, 
      #{fwxx,jdbcType=VARCHAR}, #{zj,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{telephone,jdbcType=CHAR}, #{concat,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dy.entity.Fwxx">
    insert into fwxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fwid != null">
        fwid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="jdid != null">
        jdid,
      </if>
      <if test="qxid != null">
        qxid,
      </if>
      <if test="lxid != null">
        lxid,
      </if>
      <if test="shi != null">
        shi,
      </if>
      <if test="ting != null">
        ting,
      </if>
      <if test="fwxx != null">
        fwxx,
      </if>
      <if test="zj != null">
        zj,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="concat != null">
        concat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fwid != null">
        #{fwid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="jdid != null">
        #{jdid,jdbcType=INTEGER},
      </if>
      <if test="qxid != null">
        #{qxid,jdbcType=INTEGER},
      </if>
      <if test="lxid != null">
        #{lxid,jdbcType=INTEGER},
      </if>
      <if test="shi != null">
        #{shi,jdbcType=INTEGER},
      </if>
      <if test="ting != null">
        #{ting,jdbcType=INTEGER},
      </if>
      <if test="fwxx != null">
        #{fwxx,jdbcType=VARCHAR},
      </if>
      <if test="zj != null">
        #{zj,jdbcType=DECIMAL},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=CHAR},
      </if>
      <if test="concat != null">
        #{concat,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dy.entity.FwxxExample" resultType="java.lang.Long">
    select count(*) from fwxx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fwxx
    <set>
      <if test="record.fwid != null">
        fwid = #{record.fwid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.jdid != null">
        jdid = #{record.jdid,jdbcType=INTEGER},
      </if>
      <if test="record.qxid != null">
        qxid = #{record.qxid,jdbcType=INTEGER},
      </if>
      <if test="record.lxid != null">
        lxid = #{record.lxid,jdbcType=INTEGER},
      </if>
      <if test="record.shi != null">
        shi = #{record.shi,jdbcType=INTEGER},
      </if>
      <if test="record.ting != null">
        ting = #{record.ting,jdbcType=INTEGER},
      </if>
      <if test="record.fwxx != null">
        fwxx = #{record.fwxx,jdbcType=VARCHAR},
      </if>
      <if test="record.zj != null">
        zj = #{record.zj,jdbcType=DECIMAL},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.telephone != null">
        telephone = #{record.telephone,jdbcType=CHAR},
      </if>
      <if test="record.concat != null">
        concat = #{record.concat,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fwxx
    set fwid = #{record.fwid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      jdid = #{record.jdid,jdbcType=INTEGER},
      qxid = #{record.qxid,jdbcType=INTEGER},
      lxid = #{record.lxid,jdbcType=INTEGER},
      shi = #{record.shi,jdbcType=INTEGER},
      ting = #{record.ting,jdbcType=INTEGER},
      fwxx = #{record.fwxx,jdbcType=VARCHAR},
      zj = #{record.zj,jdbcType=DECIMAL},
      title = #{record.title,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=TIMESTAMP},
      telephone = #{record.telephone,jdbcType=CHAR},
      concat = #{record.concat,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dy.entity.Fwxx">
    update fwxx
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="jdid != null">
        jdid = #{jdid,jdbcType=INTEGER},
      </if>
      <if test="qxid != null">
        qxid = #{qxid,jdbcType=INTEGER},
      </if>
      <if test="lxid != null">
        lxid = #{lxid,jdbcType=INTEGER},
      </if>
      <if test="shi != null">
        shi = #{shi,jdbcType=INTEGER},
      </if>
      <if test="ting != null">
        ting = #{ting,jdbcType=INTEGER},
      </if>
      <if test="fwxx != null">
        fwxx = #{fwxx,jdbcType=VARCHAR},
      </if>
      <if test="zj != null">
        zj = #{zj,jdbcType=DECIMAL},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=CHAR},
      </if>
      <if test="concat != null">
        concat = #{concat,jdbcType=CHAR},
      </if>
    </set>
    where fwid = #{fwid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dy.entity.Fwxx">
    update fwxx
    set uid = #{uid,jdbcType=INTEGER},
      jdid = #{jdid,jdbcType=INTEGER},
      qxid = #{qxid,jdbcType=INTEGER},
      lxid = #{lxid,jdbcType=INTEGER},
      shi = #{shi,jdbcType=INTEGER},
      ting = #{ting,jdbcType=INTEGER},
      fwxx = #{fwxx,jdbcType=VARCHAR},
      zj = #{zj,jdbcType=DECIMAL},
      title = #{title,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      telephone = #{telephone,jdbcType=CHAR},
      concat = #{concat,jdbcType=CHAR}
    where fwid = #{fwid,jdbcType=INTEGER}
  </update>
</mapper>