<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 其他配置1：数据库信息详情 -->
	<properties resource="jdbc.properties"></properties>
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<!-- 其他配置2：数据库信息详情 -->
	<typeAliases>
		<!-- 自己取别名 -->
		<!-- <typeAlias type="com.yb.entity.User" alias="User"/>-->
		<!-- 自动取别名，别名为类名 -->
		<package name="com.dy.entity"/>
	</typeAliases>
	<!-- 数据库信息配置 -->
	<plugins>
    <!-- com.github.pagehelper为PageHelper类所在包名 -->
	    <plugin interceptor="com.github.pagehelper.PageInterceptor">
	        <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
	        <property name="properties" value="dialect=mysql"/>
		</plugin>
	</plugins>
	<environments default="deveLopment">
		<environment id="deveLopment">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<!-- sql映射 -->
	<mappers>
		<package name="com.dy.mapper"/>
	</mappers>
</configuration>
