<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mywebn</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FwxxListServlet</servlet-name>
    <servlet-class>com.ch.servlet.FwxxListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FwxxAddServlet</servlet-name>
    <servlet-class>com.ch.servlet.FwxxAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FwxxRemoveServlet</servlet-name>
    <servlet-class>com.ch.servlet.FwxxRemoveServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>FwxxListServlet</servlet-name>
    <url-pattern>/FwxxListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FwxxAddServlet</servlet-name>
    <url-pattern>/FwxxAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FwxxRemoveServlet</servlet-name>
    <url-pattern>/FwxxRemoveServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>