#cctv{
	width: 736px;
	height: 559px;
	overflow: hidden;
	background: url(adver-01.jpg)center 5px no-repeat;
	position: relative;
}
span{
	font-weight: bold ;
	color: red;
}
#cctv .cctv2{
	width: 628px;
	margin: 0px auto;
	padding-top: 42px;
	height: 200px;
	overflow: hidden;
}
#cctv .cctv2 dt{
	float: left;
	width: 285px;
}
.stu01 dl{
	width: 492px;
}
#cctv p{
	font-size: 12px;
	line-height: 18px;
	text-indent: 2em;
	font-family: "微软雅黑";
	margin-top: 0px;
}
.cctv2 p span{
	font-weight: bold ;
	color: red;
}
#cctv .cctv2 dd img{
	margin-top: 10px;
	display: inline;
	margin-top: 0px;
}
#cctv .stu01 dl, #cctv .stu02 dl{
	height: 135px;
	overflow: hidden;
	border: 1px #d1d1d1 solid;
	background-color: #fff;
	padding: 5px;
}
#cctv .stu01{
	padding: 0px 0px 0px 50px;
	widows: 500px;
}
#cctv .stu02{
	position: absolute;
	right: 30px;
	bottom: 10px;
	width: 440px;
}
#cctv .stu01 dt, #cctv .stu02 dt{
	float: left;
	width: 203px;
}
