<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>indexServlet</welcome-file>
	</welcome-file-list>
	
	
	  <filter>
    <filter-name>QustionFilter</filter-name>
    <filter-class>cn.song.filter.QustionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>QustionFilter</filter-name>
    <!-- -过滤的规则：过滤所有的请求 -->
	<servlet-name>QuestionAllListServlet</servlet-name>
	<servlet-name>QuestionNewListServlet</servlet-name>
	<url-pattern>/traveller-ask.jsp</url-pattern>
  </filter-mapping>
	<servlet>
  	<servlet-name>IndexServlet</servlet-name>
  	<servlet-class>cn.song.controler.IndexServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>StationDetailSel</servlet-name>
  	<servlet-class>cn.song.controler.StationDetailSel</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexServlet</servlet-name>
  	<url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>StationDetailSel</servlet-name>
  	<url-pattern>/stationDetailSel</url-pattern>
  </servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>cn.song.controler.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.song.controler.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginOutServlet</servlet-name>
		<servlet-class>cn.song.controler.LoginOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginOutServlet</servlet-name>
		<url-pattern>/loginOutServlet</url-pattern>
	</servlet-mapping>
	<resource-ref>
  	<res-ref-name>book_car_ticket</res-ref-name>   
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
  	<servlet-name>ChepiaoServlet</servlet-name>
  	<servlet-class>cn.song.controler.ChepiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChepiaoServlet</servlet-name>
  	<url-pattern>/chepiaoServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>BookTicketServlet</servlet-name>
  	<servlet-class>cn.song.controler.BookTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BookTicketServlet</servlet-name>
  	<url-pattern>/bookTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BookTicketDoServlet</servlet-name>
  	<servlet-class>cn.song.controler.BookTicketDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BookTicketDoServlet</servlet-name>
  	<url-pattern>/bookTicketDoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>InfoPageUpdateServlet</servlet-name>
  	<servlet-class>cn.song.controler.InfoPageUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InfoPageUpdateServlet</servlet-name>
  	<url-pattern>/infoPageUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>InfoPageSelectServlet</servlet-name>
  	<servlet-class>cn.song.controler.InfoPageSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InfoPageSelectServlet</servlet-name>
  	<url-pattern>/infoPageSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>InfoPageUpdateEmailServlet</servlet-name>
  	<servlet-class>cn.song.controler.InfoPageUpdateEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InfoPageUpdateEmailServlet</servlet-name>
  	<url-pattern>/infoPageUpdateEmailServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>InfoPageUpdatePhoneServlet</servlet-name>
  	<servlet-class>cn.song.controler.InfoPageUpdatePhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InfoPageUpdatePhoneServlet</servlet-name>
  	<url-pattern>/infoPageUpdatePhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UpdatePWDServlet</servlet-name>
  	<servlet-class>cn.song.controler.UpdatePWDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdatePWDServlet</servlet-name>
  	<url-pattern>/updatePWDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QuestionAllListServlet</servlet-name>
  	<servlet-class>cn.song.controler.QuestionAllListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuestionAllListServlet</servlet-name>
  	<url-pattern>/questionAllListServlet</url-pattern>
  </servlet-mapping>

    <servlet>
  	<servlet-name>QuestionOldListServlet</servlet-name>
  	<servlet-class>cn.song.controler.QuestionOldListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuestionOldListServlet</servlet-name>
  	<url-pattern>/questionOldListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QuestionNewListServlet</servlet-name>
  	<servlet-class>cn.song.controler.QuestionNewListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuestionNewListServlet</servlet-name>
  	<url-pattern>/questionNewListServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>QuestioningServlet</servlet-name>
  	<servlet-class>cn.song.controler.QuestioningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuestioningServlet</servlet-name>
  	<url-pattern>/questioningServlet</url-pattern>
  	  </servlet-mapping>
  <servlet>
  	<servlet-name>ToPayServlet</servlet-name>
  	<servlet-class>cn.song.controler.ToPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ToPayServlet</servlet-name>
  	<url-pattern>/toPayServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>PayServlet</servlet-name>
  	<servlet-class>cn.song.controler.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PayServlet</servlet-name>
  	<url-pattern>/payServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OrderListAllServlet</servlet-name>
  	<servlet-class>cn.song.controler.OrderListAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderListAllServlet</servlet-name>
  	<url-pattern>/orderListAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OrderDetailServlet</servlet-name>
  	<servlet-class>cn.song.controler.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderDetailServlet</servlet-name>
  	<url-pattern>/orderDetailServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>DeleteQuestionServlet</servlet-name>
  	<servlet-class>cn.song.controler.DeleteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteQuestionServlet</servlet-name>
  	<url-pattern>/deleteQuestionServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>AddQuestionServlet</servlet-name>
  	<servlet-class>cn.song.controler.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddQuestionServlet</servlet-name>
  	<url-pattern>/addQuestionServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>UpdateQuestionServlet</servlet-name>
  	<servlet-class>cn.song.controler.UpdateQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateQuestionServlet</servlet-name>
  	<url-pattern>/updateQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ModifyServlet</servlet-name>
  	<servlet-class>cn.song.controler.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ModifyServlet</servlet-name>
  	<url-pattern>/modifyServlet</url-pattern>
  </servlet-mapping>
</web-app>
