.menu dl{
	float: left;
	width: 110px;
	position: relative;
}
.menu dt{
	background-image: url(../images/centerMenuBg.png);
	background-position: no-repeat;
	height: 36px;
	padding-top: 13px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;

}
.menu dt a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
}
.menu dd{
	background: url(../images/secondBgj.gif) repeat-y;
	width: 80px;
	padding-left: 10px;
	display: none;
	position: absolute;
	z-index: 1;
	left: -18px;
	top: 36px;
}
.menu dd a{
	text-decoration: none;
	font-size: 12px;
	line-height: 25px;
	display: block;
}
.menu dd a:hover{
	background-color: orange;
}
.menu dl:hover dd{
	display: block;
}
