<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 一、加载数据库信息 -->
	<!-- 加载jdbc.properties数据库信息文件 -->
	<properties resource="jdbc.properties">
	</properties>
	<typeAliases>
		<package name="com.cc.entity"/>
	</typeAliases>	
	<environments default="development">
		<!-- 对应的数据库信息 -->
		<environment id="development">
			<!-- 事务管理方式：采用jdbc -->
			<transactionManager type="JDBC" />
			<!-- 数据源的类型 -->
			<dataSource type="POOLED">
				<!-- 驱动 -->
				<property name="driver" value="${driver}" />
				<!-- 协议地址 -->
				<property name="url" value="${url}" />
				<!-- 用户名 -->
				<property name="username" value="${username}" />
				<!-- 密码 -->
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 二、sql映射文件-->
	<mappers>
	<!-- 映射文件需要些路径 -->
	   <mapper resource="sqlmap/Item.xml"/>
	   <mapper resource="sqlmap/Orderdetail.xml"/>
	</mappers>
	
	
</configuration>