h2{
	font-size:18px;
	line-height:40px;
}

.A{
	font-size:12px;
	color:#666666;
}
 .B{
	text-align:center;
}

p{
	text-indent: 2em;

	line-height:20px;
	color:black;
	font-family: "ו";
}

span{
	font-weight:bold;
}