<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>servlet.CheckUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeNumber</servlet-name>
    <servlet-class>servlet.ChangeNumber</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchSuggest</servlet-name>
    <servlet-class>servlet.SearchSuggest</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyJspServlet05</servlet-name>
    <servlet-class>servlet.MyJspServlet05</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyJspServlet06</servlet-name>
    <servlet-class>servlet.MyJspServlet06</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/CheckUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeNumber</servlet-name>
    <url-pattern>/ChangeNumber</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchSuggest</servlet-name>
    <url-pattern>/SearchSuggest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyJspServlet05</servlet-name>
    <url-pattern>/MyJspServlet05</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyJspServlet06</servlet-name>
    <url-pattern>/MyJspServlet06</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
