			*,body{
				margin: 0px;
				padding: 0px;
			}
			.bar{
				text-align: right;
				width: 100%;
				margin: 0px auto;
				background-color: black;
			}
			.bar a{
				color: white;
				text-decoration:none;
				font-size: 18px;
			}
			.bar a:hover{
				color: red;
			}
			.bar span{
				color: white;
				padding: 0px 3px;
			}
			.toppic{
				background-image: url(../image/vi.jpg);
				height: 147px;
				background-size: cover;
				background-repeat:no-repeat;
			}
			.toptext1{
				font-size: 23px;
				letter-spacing: 2px;
				font-weight: bold;
				float: left;
				position: relative;
				top: 40px;
				left: 101px;
			}
			.toptext2{
				font-size: 23px;
				letter-spacing: 2px;
				font-weight: bold;
				float: left;
				position: relative;
				top: 86px;
				left: 42px;
			}
			.index li{
				float: left;
				list-style-type: none;
				margin: 0px 20px;
				padding: 6px 0px;
			}
			.index li a{
				text-decoration: none;
				color: black;
				font-weight: bold;
				padding-left: 21px;
			}
			.index li a:hover{
				color: red;
			}
			.index ul{
				height: 35px;
				background-image: url(../image/hover_bg.jpg) ;
			}
			.clear{
				clear:both;
			}
			.mainleft{
			/*	border: 1px red solid;*/
				width: min-content;
				position: relative;
				left: 10px;
				top: 13px;
				float: left;
			}
			body{
				background-image:url(../image/bg.jpg) ;
				background-size: cover;
			}
			.foot{
				width: 100%;
				height: 60px;
				text-align: center;
				color: white;
				background-color: black;
				line-height: 56px;
				font-size: 18px;
			}
			.login{
				background-image: url(../image/bg1.jpg) ;
				height: 30px;
				width: 200px;
				letter-spacing: 20px;
				font-weight: bold;
				padding-top: 5px;
				font-size: 18px;
				margin: 1px;
				border: 1px #f0f0f0 solid;
				font-family: "仿宋";
			}
			.login span{
				margin-left: 10px;
			}
			.userlogin{
				padding-top: 6px;
				border: 1px #f0f0f0 solid;
				width: 200px;
				padding-bottom: 36px;
			}
			.userlogin table{
				margin-left: 14px;
			}
			.userlogin table tr{
				line-height: 26px;
			}
			.userlogin span{
				font-size: 12px;
			}
			.userlogin ul{
				margin: 0px;
				padding: 0px;
			}
			.userlogin ul li{
				list-style-type: square;
			    list-style-position: outside;
			    padding-left: 0px;
			    border-bottom: dashed 1px black;
			    position: relative;
			    left: 24px;
			    top: 13px;
			    width: 158px;
			    line-height: 27px;
			}
			.mainright{
				border: 1px #f0f0f0 solid;
				width: 79%;
				float: right;
				position: relative;
				top: 13px;
			}
			.bottom{
				background-image: url(../image/bg1.jpg) ;
				height: 30px;
				width: 98%;
				letter-spacing: 20px;
				font-weight: bold;
				padding-top: 5px;
				font-size: 18px;
				margin: 0px auto;
				border: 1px #f0f0f0 solid;
				font-family: "仿宋";
			}
			.mainright .flashlog{
				background-image: url(../image/bg1.jpg) ;
				height: 30px;
				width: 99%;
				letter-spacing: 20px;
				font-weight: bold;
				padding-top: 5px;
				font-size: 18px;
				margin: 0px;
				border: 1px #f0f0f0 solid;
				font-family: "仿宋";

			}
			.logtitle{
				width:95%;
				margin: 8px auto;
			}
			.logtitle span{
				font-size: 16px;
				font-weight: bold;
			}
			.mainright .date{
				width:95%;
				margin: 0px auto;
			}
			.mainright .date span{
				font-size: 16px;
				color: gainsboro;
			}
			.logtext{
				text-indent: 2em;
				width: 95%;
				margin: 0px auto;
				border-top: 1px black dashed;
				line-height: 22px;
			}
			.pic{
				width: 98%;
				margin: 0px auto 6px;
				border: 1px #f0f0f0 solid;
			}
			.pic ul li{
				float: left;
				list-style-type: none;
			}
			.pic ul li img{
				width: 150px;
				height: 150px;
				margin:15px 25px 0px;
			}
			.pic ol li{
				font-size: 15;
				font-weight: bold;
				width: 150px;
				margin:8px 25px 15px;
				list-style-type: none;
				float: left;
				position: relative;
				left: 45px;
			}
			.pic ol li a{
				text-decoration: none;
			}
