*{
	margin:0xp auto;
	padding:0px;
}
ul{
	list-style-type:none;
}
.contanier{
	width:308px;
}
.contanier .header{
	width:94%;
	background: #330066;
	padding:2px 9px;
}
.contanier .header h2{
	font-size:14px;
	color:white;
	font-weight:bold;
}
.video ul li .videoImage{
	border:2px white solid;
}
.video ul li .videoImage:hover{
	border:2px orange solid;
}
.video ul li span{
	font-size:13px;
	font-weight: bold;
	margin:6px 0px;
}
.video{
	float: left;
	padding:0px 10px;
}
.mainContent{
	width:100%;
	background:#C4C4C4; 
	overflow: hidden;
}