
/*下拉列表菜单*/
.menu dl {
	float:left;
	width:108px;
	/*代码填空1*/
}
.menu dt {
	background-image:url(../image/centerMenuBg.png);
	background-repeat:no-repeat;
	height:36px;
	padding-top:13px;
	text-align:center;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
}
.menu dt a{
	text-decoration:none;
	color:#ffffff;
	font-size:14px;
	font-weight:900;
}
.menu dd {
	background:url(../image/secondBgj.gif) repeat-y;
	width:80px;
	padding-left:10px;
	display: none;
	position: absolute;
	z-index: 1;
	left: -15px;
	top: 64px;
	/*代码填空2*/
}
.menu .ss{
	background:url(../image/secondBgj.gif) repeat-y;
	width:80px;
	padding-left:10px;
	display: none;
	position: absolute;
	z-index: 1;
	left: 94px;
	top: 64px;
}
.menu dd a{
	text-decoration: none;
	font-size:12px;
	line-height:25px;
	display:block;
}

.menu dd a:hover {
	background-color: orange;
	/*代码填空3*/
}
.menu dl:hover dd{
	display: block;
}
